<div class="grid grid-cols-2 px-12 pt-10 gap-4">
  <div class="flex flex-col space-y-2">
    <app-card-header [title]="'Suv resurslar'"></app-card-header>

    <app-water-recourse-card [data]="reservoirData" [bottomNavigation]="false"></app-water-recourse-card>
  </div>
  <div class="flex flex-col space-y-2">
    <app-card-header [title]="'MODSNOW'"></app-card-header>
    <canvas
      baseChart
      [datasets]="modsnowDatasets"
      [labels]="modsnowLabels"
      [options]="lineChartOptions"
      [type]="lineChartType"
      [plugins]="chartPlugin"
    >
    </canvas>
  </div>
  <div class="flex flex-col space-y-2">
    <app-card-header [title]="'Filtratsiya'"></app-card-header>

<!--    <a href="https://atnt.uz" target="_blank" class="flex h-full">-->
<!--      <canvas-->
<!--        baseChart-->
<!--        [data]="lineChartData"-->
<!--        [options]="lineChartOptions"-->
<!--        [type]="lineChartType"-->
<!--      ></canvas>-->
<!--    </a>-->
  </div>
  <div class="flex flex-col space-y-2">
    <app-card-header [title]="'Ob-havo'"></app-card-header>
    <app-weather-detailed [reservoir]="reservoir" [displayTitle]="false"></app-weather-detailed>
  </div>
</div>
