<div
  [style]="windowHeight"
  class="relative h-11 w-screen border-2 border-gray-600 bg-slate-100 shadow-2xl text-sm space-y-2"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
>
  <div class="absolute top-0 flex flex-col cursor-row-resize w-full"
       mwlResizeHandle
       [resizeEdges]="{ top: true }">
    <div class="flex flex-row justify-between text-red-600">
      <p>14:04</p>
      <p>GES6-AG2 отключение</p>
    </div>
    <div class="flex flex-row justify-between text-green-600">
      <p>14:07</p>
      <p>GES6-AG4 включение</p>
    </div>
  </div>
</div>
