.file {
  @apply ml-2 text-sm text-slate-500
  file:mr-4 file:py-2 file:px-4 file:border-0
  file:text-sm file:font-semibold
  file:bg-slate-300 file:text-slate-700
  hover:file:bg-slate-400 file:rounded
}
