<ng-container *ngIf="!queryGes; else aggregate">
  <app-ges-table></app-ges-table>
</ng-container>

<ng-template #aggregate>
  <ng-container *ngIf="!queryAggregate; else aggValues">
    <div class="flex-col flex space-y-4">
      <h1 class="p-4 text-lg font-medium uppercase">{{queryGes}}</h1>
      <app-aggregate-table></app-aggregate-table>
    </div>
  </ng-container>
</ng-template>

<ng-template #aggValues>
  <div class="flex-col flex space-y-4 px-4">
    <h1 class="p-4 text-lg font-medium uppercase">{{queryAggregate}}</h1>
    <app-charts-temp [showPressure]="true"></app-charts-temp>

    <app-aggregate-values-table></app-aggregate-values-table>
  </div>
</ng-template>
