<div class="bg-sky-400 mt-0 pt-0 pb-4 mb-4">
  <h2 class="text-center text-white text-xl">Ohangoron gidroelektr stansiyasi ma'lumotlari</h2>
</div>
<div class="block px-7">
  <div class="container flex">
    <table class="min-w-fit">
      <tr>
        <th colspan="2">1-GES ma'lumotlari</th>
      </tr>
      <tbody>
      <tr>
        <td>Kuchlanishi</td>
        <td class="text-right">{{piezo?.fistAgVoltage}} KV</td>
      </tr>
      <tr>
        <td>Tok kuchi</td>
        <td class="text-right">{{piezo?.fistAgAmperage}} A</td>
      </tr>
      <tr>
        <td>Aktiv quvvati</td>
        <td class="text-right">{{piezo?.fistAgActivePower}} MW</td>
      </tr>
      <tr>
        <td>Reaktiv quvvati</td>
        <td class="text-right">{{piezo?.fistAgReactivePower}} MVar</td>
      </tr>
      <tr>
        <td>Aylanish chastotasi</td>
        <td class="text-right">{{piezo?.fistAgHertz}} Hz</td>
      </tr>
      <tr>
        <td>Ishlayotgan tok kuchi</td>
        <td class="text-right">{{piezo?.fistAgUseAmperage}} A</td>
      </tr>
      <tr>
        <td>Ishlayotgan quvvati</td>
        <td class="text-right">{{piezo?.fistAgUsePower}} KW</td>
      </tr>
      <tr>
        <td>Generator kuchlanishi</td>
        <td class="text-right">{{piezo?.fistAgGeneratorVoltage}} KV</td>
      </tr>
      <tr>
        <td>Generator tok kuchi</td>
        <td class="text-right">{{piezo?.fistAgGeneratorAmperage}} A</td>
      </tr>
      <tr>
        <td>Generator quvvati</td>
        <td class="text-right">{{piezo?.fistAgGeneratorActivePower}} KW</td>
      </tr>
      <tr>
        <td>Generator reaktiv quvvati</td>
        <td class="text-right">{{piezo?.fistAgGeneratorReactivePower}} KVar</td>
      </tr>
      <tr>
        <td>Shinadagi kuchlanish</td>
        <td class="text-right">{{piezo?.fistAgShinaVoltage}} KV</td>
      </tr>
      <tr>
        <td>Suv sarfi</td>
        <td class="text-right">{{piezo?.fistAgGeneratorFlow}} m3/s</td>
      </tr>
      </tbody>
    </table>

    <div>
      <img src="https://storage.energybase.ru/source/810/867180.jpg" class="w-full">
    </div>

    <table class="min-w-fit">
      <tr>
        <th colspan="2">2-GES ma'lumotlari</th>
      </tr>
      <tbody>
      <tr>
        <td>Kuchlanishi</td>
        <td class="text-right">{{piezo?.secondAgVoltage}} KV</td>
      </tr>
      <tr>
        <td>Tok kuchi</td>
        <td class="text-right">{{piezo?.secondAgAmperage}} A</td>
      </tr>
      <tr>
        <td>Aktiv quvvati</td>
        <td class="text-right">{{piezo?.secondAgActivePower}} MW</td>
      </tr>
      <tr>
        <td>Reaktiv quvvati</td>
        <td class="text-right">{{piezo?.secondAgReactivePower}} MVar</td>
      </tr>
      <tr>
        <td>Aylanish chastotasi</td>
        <td class="text-right">{{piezo?.secondAgHertz}} Hz</td>
      </tr>
      <tr>
        <td>Ishlayotgan tok kuchi</td>
        <td class="text-right">{{piezo?.secondAgUseAmperage}} A</td>
      </tr>
      <tr>
        <td>Ishlayotgan quvvati</td>
        <td class="text-right">{{piezo?.secondAgUsePower}} KW</td>
      </tr>
      <tr>
        <td>Generator kuchlanishi</td>
        <td class="text-right">{{piezo?.secondAgGeneratorVoltage}} KV</td>
      </tr>
      <tr>
        <td>Generator tok kuchi</td>
        <td class="text-right">{{piezo?.secondAgGeneratorAmperage}} A</td>
      </tr>
      <tr>
        <td>Generator quvvati</td>
        <td class="text-right">{{piezo?.secondAgGeneratorActivePower}} KW</td>
      </tr>
      <tr>
        <td>Generator reaktiv quvvati</td>
        <td class="text-right">{{piezo?.secondAgGeneratorReactivePower}} KVar</td>
      </tr>
      <tr>
        <td>Shinadagi kuchlanish</td>
        <td class="text-right">{{piezo?.secondAgShinaVoltage}} KV</td>
      </tr>
      <tr>
        <td>Suv sarfi</td>
        <td class="text-right">{{piezo?.secondAgGeneratorFlow}} m3/s</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center text-lg">
    <table class="mr-2">
      <tr class="text-red-600">Yuqori suv nuqtasi</tr>
      <tr class="text-center">{{piezo?.hightLevel}} m</tr>
    </table>
    <table class="ml-2">
      <tr class="text-green-600">Quyi suv nuqtasi</tr>
      <tr class="text-center">{{piezo?.lowerLevel}} m</tr>
    </table>
  </div>

</div>
