<div
  class="h-full material-card p-8 flex flex-col space-y-8 shadow-xl items-center justify-center">
  <div class="flex flex-col">
    <h3 class="card-title mb-2">
      {{ name }}
    </h3>
    <div class="flex justify-center text-center">
      <span class="material-symbols-outlined text-5xl">cloudy_snowing</span>
      <h4 class="text-4xl">10&#176;</h4>
    </div>
    <div class="flex font-light mb-4 text-center">
      Ощущается 8&#176;
    </div>
  </div>

  <div class="flex flex-row space-x-8">
    <div class="flex flex-col space-y-4 items-center" *ngFor="let item of hourlyWeather">
      <p>{{ item.time | date:'HH:mm' }}</p>
      <span class="material-symbols-outlined">{{ item.icon }}</span>
      <p>{{ item.temperature }}&#176;</p>
    </div>
  </div>

  <div class="flex flex-row justify-between w-full">
    <table>
      <tbody>
      <tr *ngFor="let item of weeklyWeather">
        <td class="border-0 text-left p-0">{{ item.day | date:'cccc' | rusDate }}</td>
      </tr>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr *ngFor="let item of weeklyWeather">
        <td class="border-0 p-0">
          <div class="flex flex-row justify-end">
            <span class="material-symbols-outlined">{{ item.humidityIcon }}</span>
            <p>{{ item.humidity }}%</p>
          </div>
        </td>
        <td class="border-0 p-0">
          <div class="flex flex-row justify-end"><span class="material-symbols-outlined">{{ item.dayIcon }}/</span>
            <span class="material-symbols-outlined">{{ item.nightIcon }}</span></div>
        </td>
        <td class="border-0 p-0">
          <div class="flex flex-row justify-end"><p>{{ item.dayTemperature }}&#176;/</p>
            <p>{{ item.nightTemperature }}&#176;</p></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  <div class="flex flex-col space-y-4 w-full">-->
  <!--    <div class="flex flex-row justify-between" *ngFor="let item of weeklyWeather">-->
  <!--      <p>{{ item.day | date:'cccc' | rusDate }}</p>-->
  <!--      <div class="flex flex-row space-x-4">-->
  <!--        <div class="flex">-->
  <!--          <span class="material-symbols-outlined">{{ item.humidityIcon }}</span>-->
  <!--          <p>{{ item.humidity }}%</p>-->
  <!--        </div>-->
  <!--        <div class="flex space-x-2">-->
  <!--          <span class="material-symbols-outlined">{{ item.dayIcon }}</span>-->
  <!--          <span class="material-symbols-outlined">{{ item.nightIcon }}</span>-->
  <!--        </div>-->
  <!--        <div class="flex space-x-2">-->
  <!--          <p>{{ item.dayTemperature }}&#176;</p>-->
  <!--          <p>{{ item.nightTemperature }}&#176;</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="grid grid-cols-2 gap-5 w-full">
    <div class="flex flex-col justify-start border border-slate-500 rounded-xl px-4 py-2">
      <div class="flex flex-row space-x-2">
        <span class="material-symbols-outlined">sunny</span>
        <p>УФ-индекс</p>
      </div>
      <p>Низкий</p>
    </div>
    <div class="flex flex-col justify-start border border-slate-500 rounded-xl px-4 py-2">
      <div class="flex flex-row space-x-2">
        <span class="material-symbols-outlined">humidity_percentage</span>
        <p>Влажность</p>
      </div>
      <p>3%</p>
    </div>
    <div class="flex flex-col justify-start border border-slate-500 rounded-xl px-4 py-2">
      <div class="flex flex-row space-x-2">
        <span class="material-symbols-outlined">air</span>
        <p>Ветер</p>
      </div>
      <div class="flex flex-row">
        <span class="material-symbols-outlined">north_east</span>
        <p>5 м/с</p>
      </div>
    </div>
    <div class="flex flex-col justify-start border border-slate-500 rounded-xl px-4 py-2">
      <div class="flex flex-row space-x-2">
        <span class="material-symbols-outlined">compress</span>
        <p>Давление</p>
      </div>
      <p>1022 мбар</p>
    </div>
  </div>
</div>
