<div class="flex h-full">
  <div class="overflow-y-auto w-screen px-4 pb-8">
    <table *ngIf="currentTime; else loader" class="table-auto w-full text-left border-collapse text-sm">
      <thead class="text-gray-500">
      <tr>
        <th class="bg-gray-300 sticky top-0 p-4 rounded-tl-3xl">№</th>
        <th class="bg-gray-300 sticky top-0 p-4">ГЭС</th>
        <th class="bg-gray-300 sticky top-0 p-4">Аквтивная мощность, МВт</th>
        <th class="bg-gray-300 sticky top-0 p-4">Аквтивная мощность на {{currentTime | date:'HH'}}:00, МВт</th>
        <th class="bg-gray-300 sticky top-0 p-4">Реаквтивная мощность, МВар</th>
        <th class="bg-gray-300 sticky top-0 p-4">Частота, Гц</th>
        <th class="bg-gray-300 sticky top-0 p-4">Попуск, м3</th>
        <th class="bg-gray-300 sticky top-0 p-4 rounded-tr-3xl">Холостой сброс, м3</th>
      </tr>
      </thead>
      <tbody *ngFor="let ges of _gesService.gesList; index as i">
      <tr class=" border-b">
        <td class="px-4 py-2 border-b border-gray-500">{{i}}</td>
        <td class="px-4 py-2 border-b border-gray-500">{{ges.name}}</td>
        <td class="px-4 py-2 border-b border-gray-500">{{ges.activePower}}</td>
        <td class="px-4 py-2 border-b border-gray-500">{{ges.activePower * 0.3 | number:'1.0-2'}}</td>
        <td class="px-4 py-2 border-b border-gray-500">{{ges.activePower * 0.4 | number:'1.0-2'}}</td>
        <td class="px-4 py-2 border-b border-gray-500">50</td>
        <td class="px-4 py-2 border-b border-gray-500">100</td>
        <td class="px-4 py-2 border-b border-gray-500">20</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loader>
  <div class="flex -mt-14 justify-center items-center h-screen w-full">
    <app-loader></app-loader>
  </div>
</ng-template>
