<table>
  <thead>
  <tr>
    <th rowspan="2">Suv omborlar</th>
    <th rowspan="2" colspan="2">Qor bilan qoplanganlik, %</th>
    <th colspan="10">Balandliklar bo'yicha, m</th>
  </tr>
  <tr>
    <th>1000 - 1500</th>
    <th>1500 - 2000</th>
    <th>2000 - 2500</th>
    <th>2500 - 3000</th>
    <th>3000 - 3500</th>
    <th>3500 - 4000</th>
    <th>4000 - 4500</th>
    <th>4500 - 5000</th>
  </tr>
  </thead>
  <tr>
    <td rowspan="3">Andijon</td>
    <td class="current-year">2025</td>
    <td class="current-year">42</td>
    <td class="current-year">0</td>
    <td class="current-year">2</td>
    <td class="current-year">5</td>
    <td class="current-year">36</td>
    <td class="current-year">84</td>
    <td class="current-year">98</td>
    <td class="current-year">100</td>
    <td class="current-year">100</td>
  </tr>
  <tr>
    <td>2024</td>
    <td>36</td>
    <td></td>
    <td>0</td>
    <td>6</td>
    <td>29</td>
    <td>65</td>
    <td>94</td>
    <td>98</td>
    <td>91</td>
  </tr>
  <tr>
    <td class="odd-row difference">Farqi</td>
    <td class="odd-row difference">6</td>
    <td class="odd-row difference">0</td>
    <td class="odd-row difference">1</td>
    <td class="odd-row difference">-1</td>
    <td class="odd-row difference">6</td>
    <td class="odd-row difference">19</td>
    <td class="odd-row difference">4</td>
    <td class="odd-row difference">2</td>
    <td class="odd-row difference">9</td>
  </tr>
  <tr>
    <td rowspan="3">Ohangaron</td>
    <td class="current-year">2025</td>
    <td class="current-year">30</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">41</td>
    <td class="current-year">96</td>
    <td class="current-year">100</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>57</td>
    <td></td>
    <td></td>
    <td>38</td>
    <td>95</td>
    <td>97</td>
    <td>86</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row difference">Farqi</td>
    <td class="odd-row difference">-27.0</td>
    <td class="odd-row difference"></td>
    <td class="odd-row difference">0</td>
    <td class="odd-row difference">-38</td>
    <td class="odd-row difference">-51</td>
    <td class="odd-row difference">-1</td>
    <td class="odd-row difference">14</td>
    <td class="odd-row difference"></td>
    <td class="odd-row difference"></td>
  </tr>
  <tr>
    <td rowspan="3">Chorvoq</td>
    <td class="current-year">2025</td>
    <td class="current-year">39</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">1</td>
    <td class="current-year">38</td>
    <td class="current-year">94</td>
    <td class="current-year">100</td>
    <td class="current-year">100</td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>61</td>
    <td></td>
    <td>5</td>
    <td>39</td>
    <td>87</td>
    <td>98</td>
    <td>98</td>
    <td>91</td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row difference">Farqi</td>
    <td class="odd-row difference">-21</td>
    <td class="odd-row difference"></td>
    <td class="odd-row difference">-5</td>
    <td class="odd-row difference">-38</td>
    <td class="odd-row difference">-49</td>
    <td class="odd-row difference">-4</td>
    <td class="odd-row difference">2</td>
    <td class="odd-row difference">9</td>
    <td class="odd-row difference"></td>
  </tr>
  <tr>
    <td rowspan="3">Hisorak</td>
    <td class="current-year">2025</td>
    <td class="current-year">60</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">49</td>
    <td class="current-year">87</td>
    <td class="current-year">98</td>
    <td class="current-year">100</td>
    <td class="current-year">100</td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>44</td>
    <td></td>
    <td></td>
    <td>2</td>
    <td>53</td>
    <td>97</td>
    <td>100</td>
    <td>100</td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row difference">Farqi</td>
    <td class="odd-row difference">17</td>
    <td class="odd-row difference"></td>
    <td class="odd-row difference"></td>
    <td class="odd-row difference">38</td>
    <td class="odd-row difference">34</td>
    <td class="odd-row difference">1</td>
    <td class="odd-row difference">0</td>
    <td class="odd-row difference">0</td>
    <td class="odd-row difference"></td>
  </tr>
  <tr>
    <td rowspan="3">To'palang</td>
    <td class="current-year">2025</td>
    <td class="current-year">41</td>
    <td class="current-year">2</td>
    <td class="current-year">8</td>
    <td class="current-year">19</td>
    <td class="current-year">35</td>
    <td class="current-year">84</td>
    <td class="current-year">99</td>
    <td class="current-year">100</td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>52</td>
    <td></td>
    <td>1</td>
    <td>19</td>
    <td>86</td>
    <td>99</td>
    <td>97</td>
    <td>86</td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row difference">Farqi</td>
    <td class="odd-row difference">-11</td>
    <td class="odd-row difference">2</td>
    <td class="odd-row difference">7</td>
    <td class="odd-row difference">0</td>
    <td class="odd-row difference">-51</td>
    <td class="odd-row difference">-15</td>
    <td class="odd-row difference">2</td>
    <td class="odd-row difference">14</td>
    <td class="odd-row difference"></td>
  </tr>
</table>
