<table>
  <thead>
  <tr>
    <th rowspan="2">Сув омборлар</th>
    <th rowspan="2" colspan="2">Қор билан қопланганлик, %</th>
    <th colspan="10">Баландликлар бўйича, м</th>
  </tr>
  <tr>
    <th>0 - 1000</th>
    <th>1000 - 1500</th>
    <th>1500 - 2000</th>
    <th>2000 - 2500</th>
    <th>2500 - 3000</th>
    <th>3000 - 3500</th>
    <th>3500 - 4000</th>
    <th>4000 - 4500</th>
    <th>4500 - 5000</th>
  </tr>
  </thead>
  <tr>
    <td rowspan="3">Андижон</td>
    <td class="current-year">2025</td>
    <td class="current-year">41.6</td>
    <td class="current-year"></td>
    <td class="current-year">1.0</td>
    <td class="current-year">1.8</td>
    <td class="current-year">4.9</td>
    <td class="current-year">36.7</td>
    <td class="current-year">83.4</td>
    <td class="current-year">97.3</td>
    <td class="current-year">99.9</td>
    <td class="current-year">100.0</td>
  </tr>
  <tr>
    <td>2024</td>
    <td>34</td>
    <td></td>
    <td></td>
    <td></td>
    <td>2.5</td>
    <td>23.8</td>
    <td>63.7</td>
    <td>94.6</td>
    <td>99.7</td>
    <td>100.0</td>
  </tr>
  <tr>
    <td class="odd-row">фарқи</td>
    <td class="odd-row">7.6</td>
    <td class="odd-row"></td>
    <td class="odd-row">1.0</td>
    <td class="odd-row">1.8</td>
    <td class="odd-row">2.4</td>
    <td class="odd-row">12.9</td>
    <td class="odd-row">19.7</td>
    <td class="odd-row">2.7</td>
    <td class="odd-row">0.1</td>
    <td class="odd-row"></td>
  </tr>
  <tr>
    <td rowspan="3">Оҳангарон</td>
    <td class="current-year">2025</td>
    <td class="current-year">29.5</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">38.9</td>
    <td class="current-year">94.9</td>
    <td class="current-year">100.0</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>56.5</td>
    <td></td>
    <td></td>
    <td></td>
    <td>34.9</td>
    <td>94.8</td>
    <td>99.8</td>
    <td>100.0</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row">фарқи</td>
    <td class="odd-row">-27.0</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row">-34.9</td>
    <td class="odd-row">-55.9</td>
    <td class="odd-row">-4.9</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
  </tr>
  <tr>
    <td rowspan="3">Чорвоқ</td>
    <td class="current-year">2025</td>
    <td class="current-year">38.8</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">0.3</td>
    <td class="current-year">2.6</td>
    <td class="current-year">39.7</td>
    <td class="current-year">89.8</td>
    <td class="current-year">96.8</td>
    <td class="current-year">99.2</td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>61.6</td>
    <td></td>
    <td></td>
    <td>5.3</td>
    <td>42.5</td>
    <td>88.0</td>
    <td>98.2</td>
    <td>99.8</td>
    <td>100.0</td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row">фарқи</td>
    <td class="odd-row">-22.8</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row">-5.0</td>
    <td class="odd-row">-39.9</td>
    <td class="odd-row">-48.4</td>
    <td class="odd-row">-8.3</td>
    <td class="odd-row">-3.0</td>
    <td class="odd-row">-0.8</td>
    <td class="odd-row"></td>
  </tr>
  <tr>
    <td rowspan="3">Ҳисорак</td>
    <td class="current-year">2025</td>
    <td class="current-year">26.3</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">45.1</td>
    <td class="current-year">97.3</td>
    <td class="current-year">100.0</td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>43.6</td>
    <td></td>
    <td></td>
    <td></td>
    <td>1.8</td>
    <td>52.3</td>
    <td>97.4</td>
    <td>100.0</td>
    <td>100.0</td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row">фарқи</td>
    <td class="odd-row">-17.3</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row">-1.8</td>
    <td class="odd-row">-52.3</td>
    <td class="odd-row">-52.3</td>
    <td class="odd-row">-2.7</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
  </tr>
  <tr>
    <td rowspan="3">Тўполанг</td>
    <td class="current-year">2025</td>
    <td class="current-year">37.3</td>
    <td class="current-year"></td>
    <td class="current-year"></td>
    <td class="current-year">4.1</td>
    <td class="current-year">13.9</td>
    <td class="current-year">27.1</td>
    <td class="current-year">82.5</td>
    <td class="current-year">98.8</td>
    <td class="current-year">100.0</td>
    <td class="current-year"></td>
  </tr>
  <tr>
    <td>2024</td>
    <td>52.0</td>
    <td></td>
    <td></td>
    <td>0.5</td>
    <td>17.0</td>
    <td>85.8</td>
    <td>99.8</td>
    <td>100.0</td>
    <td>100.0</td>
    <td></td>
  </tr>
  <tr>
    <td class="odd-row">фарқи</td>
    <td class="odd-row">-14.8</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
    <td class="odd-row">3.5</td>
    <td class="odd-row">-3.1</td>
    <td class="odd-row">-58.7</td>
    <td class="odd-row">-17.3</td>
    <td class="odd-row">-1.2</td>
    <td class="odd-row"></td>
    <td class="odd-row"></td>
  </tr>
</table>
