<div class="flex">
  <div class="w-full px-4">
    <table>
      <thead>
      <tr>
        <th>№</th>
        <th>
          <div class="flex-row flex items-center">ГЭС
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <th>
          <div class="flex-row flex items-center">Установленная мощность, МВт
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <th>Агрегаты</th>
        <th>Статический напор, м</th>
        <th>Приток, м3/с</th>
        <th>Расход через ГЭС, м3/с</th>
        <th>Расход через турбину, м3/с</th>
        <th>Холостой сброс, м3/с</th>
        <th>
          <div class="flex-row flex items-center justify-center">P, МВт
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <th>
          <div class="flex-row flex items-center">Q, МВАр
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let ges of gesList; index as i">
      <tr class="text-lg">
        <td>{{i+1}}</td>
        <td class="text-left">
          <a [routerLink]="'/ges'" [queryParams]="{name: ges.name | lowercase}">{{ges.name}}</a>
        </td>
        <td>{{ges.activePower}}</td>
        <td>
          <app-aggregate-table-field [aggregates]="10"></app-aggregate-table-field>
        </td>
        <td>112</td>
        <td>130</td>
        <td>130</td>
        <td>{{ges.waterRelease}}</td>
        <td>{{ges.idleDischarge}}</td>
        <td>
          <div class="flex flex-row justify-evenly items-center">
            <div>
              {{ges.activePowerAtMoment | number:'1.0-2'}}
            </div>
            <div *ngIf="ges.difference > 0; else notStonks" class="flex-row flex">
              <object class="w-6 h-6" data="../../../../assets/icons/trendUp.svg"></object>
              {{ges.difference | number:'1.0-2'}}
            </div>
          </div>
          <ng-template #notStonks>
            <div class="flex-row flex">
              <object class="w-6 h-6" data="../../../../assets/icons/trendDown.svg"></object>
              {{ges.difference | number:'1.0-2'}}
            </div>
          </ng-template>
        </td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">{{ges.reactivePower | number:'1.0-2'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
