<div class="flex flex-col flex-1 space-y-4">
  <app-card-header [title]="'Reykalar'"></app-card-header>
  <table>
    <thead>
    <tr>
      <th rowspan="2">Suv omborlar</th>
      <th rowspan="2">Mavjud reyakalar soni</th>
      <th colspan="2">Reykalarning holati</th>
    </tr>
    <tr>
      <th>Qoniqarli</th>
      <th>Qoniqarsiz</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Andijon</td>
      <td>20</td>
      <td>15</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Ohangaron</td>
      <td>23</td>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Sardoba</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Hisorak</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Topalang</td>
      <td>32</td>
      <td>31</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Jami</td>
      <td>82</td>
      <td>64</td>
      <td>18</td>
    </tr>
    </tbody>
  </table>
</div>
