<div class="grid grid-cols-3 w-screen px-12 pt-10 gap-4">
  <div class="flex flex-col space-y-2" *ngFor="let reservoir of reservoirs">
    <app-card-header [title]="reservoir"></app-card-header>
    <a routerLink="/reservoir" [queryParams]="{reservoir: 1}">
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        [plugins]="chartPlugin"
      >
      </canvas>
    </a>

    <div class="grid grid-flow-col-dense">
      <table>
        <thead>
        <tr>
          <th>Suv sathi, m</th>
          <th>Suv hajmi, mln.m³</th>
          <th>Suv chiqish, m³/s</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="flex flex-row justify-center space-x-2">
              <p>895.5</p>
              <p class="text-green-600">(+0.1)</p>
            </div>
          </td>
          <td>
            <div class="flex flex-row justify-center space-x-2">
              <p>895.5</p>
              <p class="text-red-600">(-0.1)</p>
            </div>
          </td>
          <td>
            <div class="flex flex-row justify-center space-x-2">
              <p>895.5</p>
              <p class="text-red-600">(-0.1)</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table>
        <tr>
          <th>Holat</th>
          <td>Yomg'ir</td>
        </tr>
        <tr>
          <th>C</th>
          <td>+20</td>
        </tr>
        <tr>
          <th>Shamol, m/s</th>
          <td>1</td>
        </tr>
        <tr>
          <th>Namlik, %</th>
          <td>100</td>
        </tr>
      </table>
    </div>
  </div>
</div>
