<div class="grid grid-cols-3 w-screen px-12 pt-10 gap-4">
  <div class="flex flex-col space-y-2" *ngFor="let data of reservoirData">
    <app-card-header [title]="data.reservoir"></app-card-header>
    <a routerLink="/reservoir" [queryParams]="{reservoir: data.reservoirId}">
      <canvas
        baseChart
        [datasets]="data.incomeChart"
        [labels]="data.labels"
        [options]="lineChartOptions"
        [type]="lineChartType"
        [plugins]="chartPlugin"
      >
      </canvas>
    </a>

    <div class="grid grid-flow-col-dense">
      <table>
        <thead>
        <tr>
          <th>Suv sathi, m</th>
          <th>Suv hajmi, mln.m³</th>
          <th>Suv chiqish, m³/s</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="flex flex-row justify-center space-x-2">
              <p>{{ data.level | number:'.0-2' }}</p>
              <p
                [ngClass]="{'text-green-600': data.levelDifference.includes('+'),
                'text-red-600': data.levelDifference.includes('-')}">
                ({{ data.levelDifference }})</p>
            </div>
          </td>
          <td>
            <div class="flex flex-row justify-center space-x-2">
              <p>{{ data.volume | number:'.0-2' }}</p>
              <p [ngClass]="{'text-green-600': data.volumeDifference.includes('+'),
                'text-red-600': data.volumeDifference.includes('-')}">({{ data.volumeDifference }})</p>
            </div>
          </td>
          <td>
            <div class="flex flex-row justify-center space-x-2">
              <p>{{ data.release | number:'.0-2' }}</p>
              <p [ngClass]="{'text-green-600': data.releaseDifference.includes('+'),
                'text-red-600': data.releaseDifference.includes('-')}">({{ data.releaseDifference }})</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table>
        <tr>
          <th>Holat</th>
          <td>{{ data.weather | uzbWeather | titlecase }}</td>
        </tr>
        <tr>
          <th>C</th>
          <td>{{ data.temperature }} &deg;</td>
        </tr>
        <tr>
          <th>Shamol, m/s</th>
          <td>{{ data.windSpeed }} m/s</td>
        </tr>
        <tr>
          <th>Namlik, %</th>
          <td>{{ data.humidity }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
