<div class="flex flex-col justify-center max-h-fit"
     [ngClass]="{'px-12 pt-10': isMainComponent}">
  <app-card-header [title]="'MODSNOW'"></app-card-header>
  <p-carousel [value]="rivers" [numVisible]="itemCount" [numScroll]="itemCount" [circular]="true"
              [responsiveOptions]="responsiveOptions">
    <ng-template let-river pTemplate="item">
      <div class="flex flex-col justify-center mx-4 h-fit">
        <h2 class="text-2xl font-medium text-center my-6">{{ river.name }}</h2>
        <div class="w-full">
          <img class="m-auto" src="{{river.url}}" alt="Modsnow">
        </div>
      </div>

    </ng-template>
  </p-carousel>
</div>
