<div *ngIf="charts.length !== 0 && reservoirsData.length !== 0 && reservoirs.length !== 0; else loader"
     class="lg:grid lg:grid-cols-8 2xl:grid-cols-12 flex flex-col w-full h-full p-4 space-x-4">

  <div  class="flex flex-col lg:col-span-4 2xl:col-span-5 2xl:col-start-2 material-card">
    <h2 class="card-title">Приток воды к водохранилищам</h2>
    <canvas  *ngFor="let item of charts"
            (click)="navigateToReservoirCurrent(item.id)"
            style="height: 14vh"
            baseChart
            class="chart"
            [data]="item.data"
            [options]="item.options"
            [type]="lineChartType"
    ></canvas>
  </div>
  <div class="lg:col-span-4 2xl:col-span-5">
    <h2 class="card-title my-2">Данные по водохранилищам</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-8">
      <app-reservoir-current *ngFor="let res of reservoirsData"
                             (click)="navigateToReservoirCurrent(res.id)"
                             [level]="res.level"
                             [name]="res.name"
                             [release]="res.release"
                             [volume]="res.volume"></app-reservoir-current>
    </div>

    <h2 class="card-title my-2">Погода</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3 gap-5">
      <app-weather *ngFor="let res of reservoirs" (click)="navigateToReservoirWeather(res.id)"
                   [reservoir]="res"></app-weather>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader [size]="'xl'"></app-loader>
</ng-template>
