<div class="flex-1 flex flex-col space-y-8 p-8">
  <h2 class="text-3xl uppercase">Срочные данные</h2>

  <div class="rounded-lg bg-white border-2 border-gray-600 shadow-2xl">
    <div class="flex flex-row max-md:flex-col max-md:space-y-4 p-4 border-b-2 border-b-gray-400 justify-between items-center">
      <div>
        <p class="font-semibold mb-1">Дата</p>
        <p-calendar [(ngModel)]="selectedDate" dateFormat="dd.mm.yy" [maxDate]="today" [iconDisplay]="'input'"
                    [showIcon]="true" class="ring-2 ring-offset-2 ring-gray-500 rounded"></p-calendar>
      </div>
      <button class="material-button success-button" type="submit" (click)="show(Category.ALL)"><i class="pi pi-check"></i> Обновить
        все записи
      </button>
    </div>
    <div class="p-4">
      <div class="overflow-x-auto">
        <table>
          <thead>
          <tr>
            <th rowspan="2">Водохраилище</th>
            <th colspan="10">Погода</th>
          </tr>
          <tr>
            <th>
              <div class="flex flex-col"><p>06:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>08:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>10:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>12:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>14:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>16:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>18:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>20:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>22:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>00:00</p>
                <p>({{ tomorrow | date: 'dd-MM' }})</p></div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Андижан</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
          </tr>
          <tr>
            <td>Ахангаран</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
          </tr>
          <tr>
            <td>Сардоба</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
          </tr>
          <tr>
            <td>Гисарак</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
          </tr>
          <tr>
            <td>Тупаланг</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
          </tr>
          <tr>
            <td>Чарвак</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
            <td>Ясно</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="material-button primary-button mt-4" (click)="show(Category.WEATHER)">
        <i class="pi pi-plus"></i>
        Добавить
      </button>
    </div>

    <hr>

    <div class="p-4">
      <div class="overflow-x-auto">
        <table>
          <thead>
          <tr>
            <th rowspan="2">Водохраилище</th>
            <th colspan="10">Уровень, м</th>
          </tr>
          <tr>
            <th>
              <div class="flex flex-col"><p>06:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>08:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>10:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>12:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>14:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>16:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>18:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>20:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>22:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>00:00</p>
                <p>({{ tomorrow | date: 'dd-MM' }})</p></div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Андижан</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Ахангаран</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Сардоба</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Гисарак</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Тупаланг</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Чарвак</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="material-button primary-button mt-4" (click)="show(Category.LEVEL)">
        <i class="pi pi-plus"></i>
        Добавить
      </button>
    </div>

    <hr>

    <div class="p-4">
      <div class="overflow-x-auto">
        <table>
          <thead>
          <tr>
            <th rowspan="2">Водохраилище</th>
            <th colspan="10">Объём, млн. м3</th>
          </tr>
          <tr>
            <th>
              <div class="flex flex-col"><p>06:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>08:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>10:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>12:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>14:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>16:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>18:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>20:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>22:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>00:00</p>
                <p>({{ tomorrow | date: 'dd-MM' }})</p></div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Андижан</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Ахангаран</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Сардоба</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Гисарак</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Тупаланг</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Чарвак</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
            <td>500</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="material-button primary-button mt-4" (click)="show(Category.VOLUME)">
        <i class="pi pi-plus"></i>
        Добавить
      </button>
    </div>

    <hr>

    <div class="p-4">
      <div class="overflow-x-auto">
        <table>
          <thead>
          <tr>
            <th rowspan="2">Водохраилище</th>
            <th colspan="10">Приток, м3/с</th>
          </tr>
          <tr>
            <th>
              <div class="flex flex-col"><p>06:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>08:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>10:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>12:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>14:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>16:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>18:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>20:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>22:00</p>
                <p>({{ today | date: 'dd-MM' }})</p></div>
            </th>
            <th>
              <div class="flex flex-col"><p>00:00</p>
                <p>({{ tomorrow | date: 'dd-MM' }})</p></div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Андижан</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Ахангаран</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Сардоба</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Гисарак</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Тупаланг</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Чарвак</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="material-button primary-button mt-4" (click)="show(Category.INCOME)">
        <i class="pi pi-plus"></i>
        Добавить
      </button>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [resizable]="true" [draggable]="false">
  <ng-template pTemplate="header">
    <h3 class="font-medium text-lg">Создать новую запись</h3>
  </ng-template>
  <div class="flex flex-col px-4 space-y-8">
    <div *ngIf="selectedCategory == Category.WEATHER || selectedCategory == Category.ALL" class="flex flex-col space-y-2">
      <h4 class="font-medium">Погода</h4>
      <div class="grid grid-cols-6 max-2xl:grid-cols-3 max-md:grid-cols-1 gap-5">
        <div class="flex flex-col">
          <label for="weatherAnd">Андижан</label>
          <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[0]" [options]="weathers"
                      placeholder="Выберите погоду" [showClear]="true" id="weatherAnd"></p-dropdown>
        </div>
        <div class="flex flex-col">
          <label for="weatherAkh">Ахангаран</label>
          <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[1]" [options]="weathers"
                      placeholder="Выберите погоду" [showClear]="true" id="weatherAkh"></p-dropdown>
        </div>
        <div class="flex flex-col">
          <label for="weatherSar">Сардоба</label>
          <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[2]" [options]="weathers"
                      placeholder="Выберите погоду" [showClear]="true" id="weatherSar"></p-dropdown>
        </div>
        <div class="flex flex-col">
          <label for="weatherHis">Гисарак</label>
          <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[3]" [options]="weathers"
                      placeholder="Выберите погоду" [showClear]="true" id="weatherHis"></p-dropdown>
        </div>
        <div class="flex flex-col">
          <label for="weatherTup">Тупаланг</label>
          <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[4]" [options]="weathers"
                      placeholder="Выберите погоду" [showClear]="true" id="weatherTup"></p-dropdown>
        </div>
        <div class="flex flex-col">
          <label for="weatherChor">Чарвак</label>
          <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[5]" [options]="weathers"
                      placeholder="Выберите погоду" [showClear]="true" id="weatherChor"></p-dropdown>
        </div>
      </div>
    </div>

    <hr *ngIf="selectedCategory == Category.ALL">

    <div *ngIf="selectedCategory == Category.LEVEL || selectedCategory == Category.ALL" class="flex flex-col space-y-2">
      <h4 class="font-medium">Уровень воды, м</h4>
      <div class="grid grid-cols-6 max-2xl:grid-cols-3 max-md:grid-cols-1 gap-5">
        <div class="flex flex-col">
          <label for="levelAnd">Андижан</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[6]"
                      placeholder="Введите уровень" id="levelAnd">
        </div>
        <div class="flex flex-col">
          <label for="levelAkh">Ахангаран</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[7]"
                      placeholder="Введите уровень" id="levelAkh">
        </div>
        <div class="flex flex-col">
          <label for="levelSar">Сардоба</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[8]"
                      placeholder="Введите уровень" id="levelSar">
        </div>
        <div class="flex flex-col">
          <label for="levelHis">Гисарак</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[9]"
                      placeholder="Введите уровень" id="levelHis">
        </div>
        <div class="flex flex-col">
          <label for="levelTup">Тупаланг</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[10]"
                      placeholder="Введите уровень" id="levelTup">
        </div>
        <div class="flex flex-col">
          <label for="levelChor">Чарвак</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[11]"
                      placeholder="Введите уровень" id="levelChor">
        </div>
      </div>
    </div>

    <hr *ngIf="selectedCategory == Category.ALL">

    <div *ngIf="selectedCategory == Category.VOLUME || selectedCategory == Category.ALL" class="flex flex-col space-y-2">
      <h4 class="font-medium">Объём воды, млн. м3</h4>
      <div class="grid grid-cols-6 max-2xl:grid-cols-3 max-md:grid-cols-1 gap-5">
        <div class="flex flex-col">
          <label for="volumeAnd">Андижан</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[12]"
                 placeholder="Введите объём" id="volumeAnd">
        </div>
        <div class="flex flex-col">
          <label for="volumeAkh">Ахангаран</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[13]"
                 placeholder="Введите объём" id="volumeAkh">
        </div>
        <div class="flex flex-col">
          <label for="volumeSar">Сардоба</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[14]"
                 placeholder="Введите объём" id="volumeSar">
        </div>
        <div class="flex flex-col">
          <label for="volumeHis">Гисарак</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[15]"
                 placeholder="Введите объём" id="volumeHis">
        </div>
        <div class="flex flex-col">
          <label for="volumeTup">Тупаланг</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[16]"
                 placeholder="Введите объём" id="volumeTup">
        </div>
        <div class="flex flex-col">
          <label for="volumeChor">Чарвак</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[17]"
                 placeholder="Введите объём" id="volumeChor">
        </div>
      </div>
    </div>

    <hr *ngIf="selectedCategory == Category.ALL">

    <div *ngIf="selectedCategory == Category.INCOME || selectedCategory == Category.ALL" class="flex flex-col space-y-2">
      <h4 class="font-medium">Приток воды, м3/с</h4>
      <div class="grid grid-cols-6 max-2xl:grid-cols-3 max-md:grid-cols-1 gap-5">
        <div class="flex flex-col">
          <label for="incomeAnd">Андижан</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[18]"
                 placeholder="Введите приток" id="incomeAnd">
        </div>
        <div class="flex flex-col">
          <label for="incomeAkh">Ахангаран</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[19]"
                 placeholder="Введите приток" id="incomeAkh">
        </div>
        <div class="flex flex-col">
          <label for="incomeSar">Сардоба</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[20]"
                 placeholder="Введите приток" id="incomeSar">
        </div>
        <div class="flex flex-col">
          <label for="incomeHis">Гисарак</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[21]"
                 placeholder="Введите приток" id="incomeHis">
        </div>
        <div class="flex flex-col">
          <label for="incomeTup">Тупаланг</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[22]"
                 placeholder="Введите приток" id="incomeTup">
        </div>
        <div class="flex flex-col">
          <label for="incomeChor">Чарвак</label>
          <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[23]"
                 placeholder="Введите приток" id="incomeChor">
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="material-button info-button" (click)="hide()"><i class="pi pi-check"></i> Сохранить</button>
  </ng-template>
</p-dialog>
