<div class="w-full px-4 mt-6">
  <table>
    <thead>
      <tr>
        <th rowspan="2">Водохранилиище</th>
        <th rowspan="2">Количество гидропостов</th>
        <th colspan="2">Расположение гидропостов</th>
        <th colspan="3">Типы гидропостов гидропостов</th>
        <th colspan="2">Состояние гидропостов</th>
        <th colspan="2">Аттестатция и паспорт</th>
        <th rowspan="2">Дата аттестации</th>
        <th rowspan="2">Количество доступных реек</th>
        <th colspan="2">Состояние реек</th>
      </tr>
    <tr>
      <th>На входе и выходе каналов</th>
      <th>На узлах</th>
      <th>Неизменный</th>
      <th>Чиполетти</th>
      <th>Томсон</th>
      <th>Уд.</th>
      <th>Неуд.</th>
      <th>Имеется</th>
      <th>Не имеется</th>
      <th>Уд.</th>
      <th>Неуд.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Андижан</td>
      <td>22</td>
      <td>0</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>22</td>
      <td>22</td>
      <td>0</td>
      <td>22</td>
      <td>0</td>
      <td>1 март 2023</td>
      <td>20</td>
      <td>15</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Ахангаран</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>20 март 2023</td>
      <td>23</td>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Сардоба</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1 апрель 2023</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Гисарак</td>
      <td>11</td>
      <td>2</td>
      <td>9</td>
      <td>2</td>
      <td>0</td>
      <td>9</td>
      <td>11</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>10 апрель 2023</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Тупаланг</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>20 апрель 2023</td>
      <td>32</td>
      <td>31</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Общее</td>
      <td>40</td>
      <td>7</td>
      <td>33</td>
      <td>7</td>
      <td>2</td>
      <td>31</td>
      <td>40</td>
      <td>0</td>
      <td>40</td>
      <td>0</td>
      <td></td>
      <td>82</td>
      <td>64</td>
      <td>18</td>
    </tr>
    </tbody>
  </table>
</div>
