<table *ngIf="data.length !== 0; else loader">
  <thead>
  <tr>
    <th rowspan="2">Suv omborlar</th>
    <th rowspan="2">O‘lchov bir.</th>
    <th colspan="4">O'rtacha suv kelishi</th>
    <th colspan="3">Farqi, %</th>
  </tr>
  <tr>
    <th><p>30 yillik</p></th>
    <th><p>10 yillik</p></th>
    <th><p>{{ pastYear | date: 'yyyy' }} yil</p></th>
    <th><p>{{ currentYear | date: 'yyyy' }} yil<br><small>{{ data[0].date}}</small></p></th>
    <th>30 yillikka nisbatan</th>
    <th>10 yillikka nisbatan</th>
    <th>{{ pastYear | date: 'yyyy' }} yilga nisbatan</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let res of data">
    <td>{{res.name}}</td>
    <td>mln.m3</td>
    <td>{{res.avg30.value}}<br><p class="red-difference">{{ res.avg30.diff }}</p></td>
    <td>{{res.avg10.value}}<br><p class="red-difference">{{ res.avg10.diff }}</p></td>
    <td>{{res.past_year.value}}<br><p class="red-difference">{{ res.past_year.diff }}</p></td>
    <td>{{res.current_year}}</td>
    <td>{{ res.percent30.value }}<br><p class="red-difference">{{ res.percent30.diff }}</p></td>
    <td>{{ res.percent10.value }}<br><p class="red-difference">{{ res.percent10.diff  }}</p></td>
    <td>{{ res.past_year_percent.value }}<br><p class="red-difference">{{ res.past_year_percent.diff }}</p></td>
  </tr>
  </tbody>
</table>

<ng-template #loader>
  <app-loader size="xl"></app-loader>
</ng-template>
