<!--<table *ngIf="totalValues.length !== 0; else loader">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th rowspan="2">Suv omborlar</th>-->
<!--    <th colspan="4">O'rtacha suv kelishi, mln.m³</th>-->
<!--    <th colspan="3">Foizdagi farq</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th><p>30 yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>-->
<!--    <th><p>10 yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>-->
<!--    <th><p>{{ pastYear }} yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>-->
<!--    <th><p>{{ currentYear }} yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>-->
<!--    <th>30 yil</th>-->
<!--    <th>10 yil</th>-->
<!--    <th>{{ pastYear }} yil</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let res of totalValues">-->
<!--    <td>{{res.reservoir}}</td>-->
<!--    <td>{{res.avg30}}<br><p class="difference">{{ res.decadeAvg30 | number:'.0-0' }}</p></td>-->
<!--    <td>{{res.avg10}}<br><p class="difference">{{ res.decadeAvg10 | number:'.0-0' }}</p></td>-->
<!--    <td>{{res.lastYear}}<br><p class="difference">{{ res.decadeLastYear | number:'.0-0' }}</p></td>-->
<!--    <td class="bg-cyan-800">{{res.currentYear}}<br><p class="difference">{{ res.decadeCurrentYear | number:'.0-0' }}</p></td>-->
<!--    <td>{{ res.avg30 !== 0 ? ((res.currentYear / res.avg30) * 100 | number: '.0-0') : '0' }}<br><p class="difference">{{ res.decadeAvg30 !== 0 ? ((res.decadeCurrentYear / res.decadeAvg30) * 100 | number: '.0-0') : '0' }}</p></td>-->
<!--    <td>{{ res.avg10 !== 0 ? ((res.currentYear / res.avg10) * 100 | number: '.0-0') : '0' }}<br><p class="difference">{{ res.decadeAvg10 !== 0 ? ((res.decadeCurrentYear / res.decadeAvg10) * 100 | number: '.0-0') : '0' }}</p></td>-->
<!--    <td>{{ (res.currentYear / res.lastYear) * 100 | number: '.0-0' }}<br><p class="difference">{{ (res.decadeCurrentYear / res.decadeLastYear) * 100 | number: '.0-0' }}</p></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<table border="1" cellspacing="0" cellpadding="5">
  <thead>
  <tr>
    <th rowspan="2">№</th>
    <th rowspan="2">Suv omborlari</th>
    <th rowspan="2">O‘lchov bir.</th>
    <th colspan="4">O‘rtacha suvning kelishi</th>
    <th colspan="3">Farqi, %</th>
  </tr>
  <tr>
    <th>30 yillik</th>
    <th>10 yillik</th>
    <th>2024 yil</th>
    <th>2025 yil (1 yan - 23 apr)</th>
    <th>30 yillikka nisbatan</th>
    <th>10 yillikka nisbatan</th>
    <th>2024 yilga nisbatan</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Andijon</td>
    <td>mln.m3</td>
    <td>3610 <br><small style="color:red">673</small></td>
    <td>3296 <br><small style="color:red">680</small></td>
    <td>3801 <br><small style="color:red">654</small></td>
    <td>723.0</td>
    <td>20 <br><small style="color:red">107</small></td>
    <td>22 <br><small style="color:red">106</small></td>
    <td>19 <br><small style="color:red">111</small></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Ohangaron</td>
    <td>mln.m3</td>
    <td>715 <br><small style="color:red">225</small></td>
    <td>668 <br><small style="color:red">227</small></td>
    <td>788 <br><small style="color:red">204</small></td>
    <td>200.0</td>
    <td>28 <br><small style="color:red">89</small></td>
    <td>30 <br><small style="color:red">88</small></td>
    <td>25 <br><small style="color:red">98</small></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Sardoba</td>
    <td>mln.m3</td>
    <td>1766 <br><small style="color:red">705</small></td>
    <td>1657 <br><small style="color:red">682</small></td>
    <td>1766 <br><small style="color:red">705</small></td>
    <td>563.0</td>
    <td>32 <br><small style="color:red">80</small></td>
    <td>34 <br><small style="color:red">83</small></td>
    <td>32 <br><small style="color:red">83</small></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Xisorak</td>
    <td>mln.m3</td>
    <td>357 <br><small style="color:red">62</small></td>
    <td>365 <br><small style="color:red">61</small></td>
    <td>380 <br><small style="color:red">39</small></td>
    <td>43.0</td>
    <td>12 <br><small style="color:red">69</small></td>
    <td>12 <br><small style="color:red">70</small></td>
    <td>11 <br><small style="color:red">110</small></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Tupolang</td>
    <td>mln.m3</td>
    <td>1736 <br><small style="color:red">296</small></td>
    <td>1623 <br><small style="color:red">297</small></td>
    <td>1543 <br><small style="color:red">197</small></td>
    <td>274.0</td>
    <td>16 <br><small style="color:red">92</small></td>
    <td>17 <br><small style="color:red">93</small></td>
    <td>18 <br><small style="color:red">139</small></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Chorvoq</td>
    <td>mln.m3</td>
    <td>6674 <br><small style="color:red">1032</small></td>
    <td>6498 <br><small style="color:red">1047</small></td>
    <td>7292 <br><small style="color:red">1030</small></td>
    <td>984.0</td>
    <td>15 <br><small style="color:red">95</small></td>
    <td>14 <br><small style="color:red">93</small></td>
    <td>13 <br><small style="color:red">96</small></td>
  </tr>
  </tbody>
</table>



<ng-template #loader>
  <app-loader size="xl"></app-loader>
</ng-template>
