<div class="flex h-full">

  <div class="bg-slate-700 h-full px-5 left-0 top-0 overflow-y-auto">
    <nav>
      <ul class="text-slate-200 text-lg font-medium">
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.path" routerLinkActive="active" (click)="selectItem(item)"
             [ngClass]="{'parent-active': item.isActive}">{{ item.name }}</a>
          <ul *ngIf="item.children">
            <li class="pl-4" *ngFor="let childItem of item.children">
              <a [routerLink]="childItem.path" routerLinkActive="active"
                 (click)="selectItem(childItem)">{{ childItem.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex-1 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
