<div class="flex h-full flex-col">
  <div class="w-full flex flex-row bg-slate-800 text-sm text-white items-center justify-center">
    <button (click)="toggleMenu()" class="p-2"><span class="material-symbols-outlined">menu</span></button>
    <nav>
      <ul class="text-slate-200 font-medium text-sm flex flex-row space-x-4 items-center text-center">
        <li *ngFor="let item of reservoirs">
          <a>{{ item.name }}</a>
      </ul>
    </nav>
  </div>

  <div class="flex flex-row flex-1">
  <div class="bg-slate-700 h-full px-5 left-0 top-0 overflow-y-auto" *ngIf="hidden" [@SideMenu]="">
    <nav>
      <ul class="text-slate-200 font-medium text-sm mt-4">
        <li *ngFor="let item of menuItems">
          <a class="items-center flex flex-row justify-between" [routerLink]="item.path" routerLinkActive="active" (click)="selectItem(item)"
             [ngClass]="{'parent-active': item.isActive}">{{ item.name }} <i *ngIf="!item.path" class="pi" [ngClass]="item.isOpen ? 'pi-angle-up' : 'pi-angle-down'"></i></a>
          <ul *ngIf="item.children && item.isOpen" [@DropDownMenu]>
            <li class="pl-4" *ngFor="let childItem of item.children">
              <a [routerLink]="childItem.path" routerLinkActive="active"
                 (click)="selectItem(childItem)">{{ childItem.name }}</a>
            </li>
          </ul>

      </ul>
    </nav>
  </div>
  <div class="flex-1 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
