<div class="flex flex-col w-full" [ngSwitch]="selectedCategory">
  <div class="flex flex-row mx-auto my-5 space-x-2">
    <button [ngClass]="{'active': selectedCategory === HOURLY_CATEGORY}" (click)="changeCategory(HOURLY_CATEGORY)">По часам</button>
    <button [ngClass]="{'active': selectedCategory === DAILY_CATEGORY}" (click)="changeCategory(DAILY_CATEGORY)">По дням</button>
  </div>
  <app-hourly-reservoir *ngSwitchCase="HOURLY_CATEGORY"></app-hourly-reservoir>
  <app-daily-reservoir *ngSwitchCase="DAILY_CATEGORY"></app-daily-reservoir>
</div>
