<div *ngIf="reservoirName" class="w-full px-4 mt-6 flex flex-col space-y-4 relative max-h-lvh">
  <!--  <h3 class="text-center text-3xl">{{reservoirName}}</h3>-->

  <div class="flex flex-row h-full space-x-4">
    <table class="h-full">
      <thead class="sticky top-0">
      <tr>
        <th rowspan="2" colspan="2">Индикаторы</th>
        <th rowspan="2">Измерение</th>
        <th *ngFor="let month of months" colspan="3">{{ month }}</th>
        <th></th>
      </tr>
      <tr>
        <th *ngFor="let decade of decade">{{ decade }}</th>
        <th>Объём, млн. м3</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="income?.stat10?.length!==0">
        <td colspan="2">Многолетний cредний приток</td>
        <td rowspan="4">м3/с</td>
        <td *ngFor="let value of income?.stat10">{{ value }}</td>
        <td>{{ calcFlowVolume(income?.stat10) | number:'0.0-0' }}</td>
      </tr>
      <tr *ngIf="income?.stat10?.length===0">
        <td colspan="2">Средний приток за все время</td>
        <td rowspan="3">м3/с</td>
        <td *ngFor="let value of income?.stat5">{{ value }}</td>
        <td>{{ calcFlowVolume(income?.stat5) | number:'0.0-0' }}</td>
      </tr>
      <tr>
        <td colspan="2">Приток в 2023</td>
        <td *ngFor="let value of income?.statLastYear">{{ value }}</td>
        <td>{{ calcFlowVolume(income?.statLastYear) | number:'0.0-0' }}</td>
      </tr>
      <tr *ngIf="flowForecastObs | async as forecast">
        <td class="bg-gray-300" colspan="2">Приток в 2024 (Прогноз)</td>
        <td class="bg-gray-300" *ngFor="let value of forecast.income">{{ value }}</td>
        <td class="bg-gray-300" *ngFor="let day of decade.slice(forecast.income.length)"></td>
        <td class="bg-gray-300">{{ calcFlowVolume(forecast.income) | number:'0.0-0' }}</td>
      </tr>
      <tr>
        <td class="bg-gray-500 text-slate-300" colspan="2">Утвержденный приток в 2024</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let value of approvedIncome">{{ value }}</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let day of decade.slice(approvedIncome.length)"></td>
        <td class="bg-gray-500 text-slate-300">{{ calcFlowVolume(approvedIncome) | number:'0.0-0' }}</td>
      </tr>
      <tr>
        <td colspan="2">Объём в 2023</td>
        <td rowspan="5">млн. м3</td>
        <td *ngFor="let value of volume?.statLastYear">{{ value }}</td>
        <td></td>
      </tr>
      <tr>
        <td class="bg-gray-300" rowspan="2">Объём в 2024 (Прогноз)</td>
        <td class="bg-gray-300">Начало декады</td>
        <td class="bg-gray-300" *ngFor="let value of volumeForecastStart">{{ value | number: '.0-1' }}</td>
        <td class="bg-gray-300" *ngFor="let day of decade.slice(volumeForecastStart.length)"></td>
        <td class="bg-gray-300"></td>
      </tr>
      <tr>
        <td class="bg-gray-300">Конец декады</td>
        <td class="bg-gray-300" *ngFor="let value of volumeForecastEnd">{{ value | number: '.0-1' }}</td>
        <td class="bg-gray-300" *ngFor="let day of decade.slice(volumeForecastEnd.length)"></td>
        <td class="bg-gray-300"></td>
      </tr>

      <tr>
        <td class="bg-gray-500 text-slate-300"rowspan="2">Утвержденный объём в 2024</td>
        <td class="bg-gray-500 text-slate-300">Начало декады</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let value of approvedVolumeStart">{{ value | number: '.0-1' }}</td>
        <td class="bg-gray-300" *ngFor="let day of decade.slice(approvedVolumeStart.length)"></td>
        <td class="bg-gray-500 text-slate-300"></td>
      </tr>
      <tr>
        <td class="bg-gray-500 text-slate-300">Конец декады</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let value of approvedVolumeEnd">{{ value | number: '.0-1' }}</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let day of decade.slice(approvedVolumeEnd.length)"></td>
        <td class="bg-gray-500 text-slate-300"></td>
      </tr>


      <tr *ngIf="levelForecast | async as levelForecast">
        <td colspan="2" class="bg-gray-400/60">Уровень на конец декады</td>
        <td rowspan="3">м</td>
        <td *ngFor="let value of levelForecast" class="bg-gray-400/60">{{ value }}</td>
        <td class="bg-gray-400/60" *ngFor="let day of decade.slice(levelForecast.length)"></td>
        <td class="bg-gray-400/60"></td>

      </tr>
      <tr>
        <td colspan="2" class="bg-gray-400/60">Дневное изменение</td>
        <td *ngFor="let i of levelDifferenceForecast.slice(0,18)" class="bg-gray-400/60"
            [ngClass]="{'text-red-400': i.error}">{{ i.value | number:'0.0-2' }}
        </td>
        <td class="bg-gray-400/60" *ngFor="let day of decade.slice(levelDifferenceForecast.length)"></td>
        <td class="bg-gray-400/60"></td>
      </tr>

      <tr>
        <td colspan="2"class="bg-gray-500 text-slate-300">Утвержденный уровень на конец декады</td>
        <td *ngFor="let value of approvedLevel" class="bg-gray-500 text-slate-300">{{ value | number: '1.1-1' }}</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let day of decade.slice(approvedLevel.length)"></td>
        <td class="bg-gray-500 text-slate-300"></td>
      <tr>
        <td colspan="2">Многолетний cредний попуск</td>
        <td rowspan="4">м3/с</td>
        <td *ngFor="let value of release?.stat10">{{ value }}</td>
        <td>{{ calcFlowVolume(release?.stat10) | number:'0.0-0' }}</td>

      </tr>
      <tr>
        <td colspan="2">Попуск в 2023</td>
        <td *ngFor="let value of release?.statLastYear">{{ value }}</td>
        <td>{{ calcFlowVolume(release?.statLastYear) | number:'0.0-0' }}</td>
      </tr>
      <tr *ngIf="flowForecastObs | async as forecast">
        <td class="bg-gray-300" colspan="2">Попуск в 2024 (Прогноз)</td>
        <td class="bg-gray-300" *ngFor="let value of forecast.release">{{ value }}</td>
        <td class="bg-gray-300" *ngFor="let day of decade.slice(forecast.release.length)"></td>
        <td class="bg-gray-300">{{ calcFlowVolume(forecast.release) | number:'0.0-0' }}</td>
      </tr>

      <tr>
        <td class="bg-gray-500 text-slate-300"colspan="2">Утвержденный попуск в 2024 (Прогноз)</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let value of approvedRelease">{{ value }}</td>
        <td class="bg-gray-500 text-slate-300" *ngFor="let day of decade.slice(approvedRelease.length)"></td>
        <td class="bg-gray-500 text-slate-300">{{ calcFlowVolume(approvedRelease) | number:'0.0-0' }}</td>
      </tr>
      <tr *ngIf="gesCoefficient && lowerLevel">
        <td colspan="2">Выработка электроэнергии</td>
        <td>МВт</td>
        <td *ngFor="let value of gesPower">
          {{ value | number:'0.0-0' }}
        </td>
        <td *ngFor="let day of decade.slice(gesPower.length)"></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div class="space-y-8">
      <form class="flex flex-col items-center text-sm whitespace-nowrap space-y-2">
        <h3>Приток</h3>
        <span class="flex flex-row">
          <input type="radio" [checked]="selectedIncomeRadio==='perAvg'"  name="income" (click)="changeIncomeForecast('perAvg')">
          <label class="mr-2">% </label>
         <input class="w-full" type="number"  [value]="selectedIncomePercent" min="0" max="200" (input)="changeIncomePercent($event)">
        </span>
        <div class="flex gap-2 items-center">
          <div class="h-full pb-3">
            <input class="h-4 w-4" type="radio" name="income" (change)="onIncomeRadioChange($event)" >
           </div>
          <mat-form-field class="w-[120px]  h-[63px]" appearance="fill">

            <mat-select multiple [(value)]="selectedIncomeYears"
                        (selectionChange)=" changeSelectedIncomeForecast($event)">
              <mat-option class="py-2 px-4  hover:bg-indigo-500 hover:text-red-500"
                          *ngFor="let year of existingIncomeYears" [value]="year">{{ year }}</mat-option>
             </mat-select>
          </mat-form-field>
        </div>
        <span *ngIf="income?.stat30?.length !== 0" class="flex flex-row">
          <input type="radio" name="income" (click)="changeIncomeForecast('30')"  [checked]="selectedIncomeRadio === '30'">
          <label>Среднее за 30 лет</label>
        </span>
        <span *ngIf="income?.stat10?.length!==0" class="flex flex-row">
          <input type="radio" name="income" (click)="changeIncomeForecast('ten')" [checked]="selectedIncomeRadio === 'ten'">
          <label>Среднее за 10 лет</label>
        </span>
        <span *ngIf="income?.stat5?.length!==0" class="flex flex-row">
          <input type="radio" name="income" (click)="changeIncomeForecast('last')" [checked]="selectedIncomeRadio === 'last'">
          <label>Среднее за 5 лет</label>
        </span>
        <span class="flex flex-row">
          <input type="radio" name="income" (click)="changeIncomeForecast('max')" [checked]="selectedIncomeRadio === 'max'">
          <label>Максимум</label>
          </span>
        <span class="flex flex-row">
          <input type="radio" name="income" (click)="changeIncomeForecast('min')" [checked]="selectedIncomeRadio === 'min'">
           <label>Минимум</label>
          </span>
      </form>
      <form class="flex flex-col items-center text-sm whitespace-nowrap space-y-2">
        <h3>Попуск</h3>
        <span class="flex flex-row">
          <input type="radio" [checked]="selectedReleaseRadio === 'perAvg'"  name="release" (click)="changeReleaseForecast('perAvg')">
          <label class="mr-2">% </label>
        <input class="w-full" type="number"  [value]="selectedReleasePercent"   max="200" min="0" (input)="changeReleasePercent($event)" >
        </span>
        <div class="flex items-center gap-2">
           <div class="h-full pb-3">
            <input class="h-4 w-4" type="radio" name="release" (change)="onReleaseRadioChange($event)" >
           </div>
           <mat-form-field
             class="w-[120px]  h-[63px]"
            appearance="fill">
            <mat-select multiple
             [(value)]="selectedReleaseYears"
            (selectionChange)=" changeSelectedReleaseForecast($event)"
             class="">
            <mat-option
            class=""
            *ngFor="let year of existingIncomeYears"
             [value]="year">{{ year }}
            </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <span *ngIf="release?.stat30?.length!==0" class="flex flex-row">
          <input type="radio" name="release" [checked]="selectedReleaseRadio === '30'"  (click)="changeReleaseForecast('30')" >
          <label>Среднее за 30 лет</label>
        </span>
        <span *ngIf="release?.stat10?.length!==0" class="flex flex-row">
          <input type="radio" name="release"[checked]="selectedReleaseRadio === 'ten'"  (click)="changeReleaseForecast('ten')" >
          <label>Среднее за 10 лет</label>
        </span>
        <span class="flex flex-row" *ngIf="release?.stat5?.length!==0">
          <input type="radio" name="release" [checked]="selectedReleaseRadio === 'five'" (click)="changeReleaseForecast('five')" >
          <label>Среднее за 5 лет</label>
        </span>
        <span class="flex flex-row">
          <input type="radio" name="release" [checked]="selectedReleaseRadio === 'max'"  (click)="changeReleaseForecast('max')" >
          <label>Максимум</label>
          </span>
        <span class="flex flex-row">
          <input type="radio" name="release"  [checked]="selectedReleaseRadio === 'min'" (click)="changeReleaseForecast('min')" >
           <label>Минимум</label>
          </span>
      </form>
    </div>
  </div>
</div>
