<div class="grid grid-cols-2 px-12 gap-4">
  <app-card-wrapper>
    <app-card-header [title]="'Tu\'gon va GES'" slot="header"></app-card-header>
  </app-card-wrapper>
  <app-card-wrapper>
    <app-card-header [title]="'Tahliliy ma\'lumotlar'" slot="header"></app-card-header>
  </app-card-wrapper>
  <app-card-wrapper>
    <app-card-header [title]="'Zatvorlar'" slot="header"></app-card-header>
  </app-card-wrapper>
  <app-card-wrapper>
    <app-card-header [title]="'MODSNOW'" slot="header"></app-card-header>
  </app-card-wrapper>
</div>
