<div class="grid grid-cols-2 grid-rows-2 px-12 gap-4 h-full w-full text-xl">
  <app-card-wrapper>
    <app-card-header [title]="'Tu\'gon va GES'" slot="header"></app-card-header>
    <div class="flex-1 flex flex-row space-x-2 items-center" slot="body">
      <div class="flex-1">
        <p-galleria [circular]="true" [showIndicators]="true" [showThumbnails]="false"
                    [value]="images">
          <ng-template let-item pTemplate="item">
            <img [alt]="item.alt" [src]="item.itemImageSrc" style="width: 80%;"/>
          </ng-template>
        </p-galleria>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div class="grid grid-rows-2 w-fit">
          <p>H<sub>yb</sub> = 930.0 m</p>
          <p>H<sub>pb</sub> = 920.0 m</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>H<sub>bos</sub> = 10.0 m</p>
          <p>Q<sub>GES</sub> = 30 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>Q<sub>per</sub> = 100 m<sup>3</sup>/sek</p>
          <p>Q<sub>pro</sub> = 10 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-3 w-fit">
          <p>Q<sub>kel</sub> = 35 m<sup>3</sup>/sek</p>
          <p>W = 45 mln.m<sup>3</sup></p>
          <p>Q<sub>chiq</sub> = 140 m<sup>3</sup>/sek</p>
        </div>
      </div>
    </div>
  </app-card-wrapper>
  <app-card-wrapper>
    <app-card-header [title]="'Tahliliy ma\'lumotlar'" slot="header"></app-card-header>
    <div slot="body" class="w-full h-full">
      <app-reservoir-analytics [isModule]="true"></app-reservoir-analytics>
    </div>
  </app-card-wrapper>
  <app-card-wrapper>
    <app-card-header [title]="'Zatvorlar'" slot="header"></app-card-header>
    <div class="flex-1 flex flex-row space-x-2 items-center justify-between" slot="body">
      <img alt="Zatvor" src="assets/img/zatvor.png" style="width: 60%;"/>

      <div class="grid grid-cols-2 gap-8 items-center">
        <div class="grid grid-rows-2 w-fit">
          <p>L<sub>1</sub> = 0/4500</p>
          <p>Q<sub>1</sub> = 0 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>L<sub>2</sub> = 0/4500</p>
          <p>Q<sub>2</sub> = 0 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>L<sub>3</sub> = 1000/4500</p>
          <p>Q<sub>3</sub> = 30 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>L<sub>4</sub> = 2000/4500</p>
          <p>Q<sub>4</sub> = 60 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>L<sub>p-5</sub> = 2500/5000</p>
          <p>Q<sub>p-5</sub> = 60 m<sup>3</sup>/sek</p>
        </div>
        <div class="grid grid-rows-2 w-fit">
          <p>L<sub>krz</sub> = 2500/5000</p>
          <p>Q<sub>krz</sub> = 60 m<sup>3</sup>/sek</p>
        </div>
      </div>
    </div>
  </app-card-wrapper>
  <app-card-wrapper>
    <app-card-header [title]="'MODSNOW'" slot="header"></app-card-header>
    <div slot="body" class="flex flex-row flex-1 gap-4 overflow-y-hidden">
      <!--      <img src="assets/img/lc-cov.jpg" alt="Cover" style="width: 40%; height: auto;">-->
      <img src="assets/img/lc-dyn.jpg" alt="Dynamics" style="width: 100%; object-fit: contain;">
    </div>
  </app-card-wrapper>
</div>
