<div class="flex-1 flex flex-col p-8">
  <h2 class="text-3xl uppercase mb-8">Срочные данные</h2>

  <button class="material-button success-button w-fit ml-auto mb-4" (click)="show()"><i class="pi pi-plus"></i> Добавить запись</button>
  <div class="rounded-lg bg-white border-2 border-gray-600 shadow-2xl p-4 overflow-x-auto">
        <table>
          <thead>
          <tr>
            <th>Водохранилиище</th>
            <th>Дата измерения</th>
            <th>Название гидропоста</th>
            <th>Тип гидропоста</th>
            <th>Тип водоизмеитля</th>
            <th>Результаты водоизмерения, м3/с</th>
            <th>Поправки водопотребления</th>
            <th>Провел работы, ФИО</th>
            <th>Комментарий</th>
          </tr>

          </thead>
          <tbody>
          <tr>
            <td>Андижан</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Ахангаран</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Сардоба</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Гисарак</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Тупаланг</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Чарвак</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Общее</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
  </div>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [resizable]="true" [draggable]="false">
  <ng-template pTemplate="header">
    <h3 class="font-medium text-lg">Создать новую запись</h3>
  </ng-template>
  <div class="flex flex-col px-4 space-y-8">
    <div class="grid grid-cols-6 max-2xl:grid-cols-3 max-md:grid-cols-1 gap-5">
      <div class="flex flex-col">
        <label for="reservoir">Водохранилище</label>
        <p-dropdown class="ring-2 rounded w-fit" appendTo="body" [(ngModel)]="selectedMenu[0]" [options]="reservoirs"
                    placeholder="Выберите водохранилище" [showClear]="true" id="reservoir"></p-dropdown>
      </div>
      <div class="flex flex-col">
        <label for="date">Дата измерения</label>
        <p-calendar appendTo="body" [(ngModel)]="selectedMenu[1]" dateFormat="dd.mm.yy" [maxDate]="today" class="w-fit ring-2 rounded p-3" id="date"></p-calendar>
      </div>
      <div class="flex flex-col">
        <label for="hydroPostName">Название гидропоста</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="text" [(ngModel)]="selectedMenu[2]"
               placeholder="Введиете название" id="hydroPostName">
      </div>
      <div class="flex flex-col">
        <label for="hydroPostType">Тип гидропоста</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="text" [(ngModel)]="selectedMenu[3]"
               placeholder="Введите тип" id="hydroPostType">
      </div>
      <div class="flex flex-col">
        <label for="hydroMeterType">Тип водоизмерителя</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="text" [(ngModel)]="selectedMenu[4]"
               placeholder="Введите Тип" id="hydroMeterType">
      </div>
      <div class="flex flex-col">
        <label for="result">Результаты водоизмерения</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[5]"
               placeholder="Введите результат, м3/с" id="result">
      </div>
      <div class="flex flex-col">
        <label for="rewrite">Поправки водопотребления</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="number" [(ngModel)]="selectedMenu[5]"
               placeholder="Введите поправки" id="rewrite">
      </div>
      <div class="flex flex-col">
        <label for="employee">ФИО рабочего</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="text" [(ngModel)]="selectedMenu[5]"
               placeholder="Введите ФИО" id="employee">
      </div>
      <div class="flex flex-col">
        <label for="comment">Комментарии</label>
        <input class="ring-2 rounded ring-sky-400 p-2" type="text" [(ngModel)]="selectedMenu[5]"
               placeholder="Введите комментарии" id="comment">
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="material-button info-button" (click)="hide()"><i class="pi pi-check"></i> Сохранить</button>
  </ng-template>
</p-dialog>
