<div class="flex flex-col">
  <h3 class="text-center my-4 text-3xl">{{ reservoirName }}</h3>

  <div class="grid grid-cols-12 gap-4">
    <div class="flex flex-col 2xl:col-start-3 col-span-6 max-2xl:col-span-9 h-fit" #infoContainer>
      <div class="flex flex-col justify-start mb-2 p-2 rounded-3xl border-2 border-slate-300 bg-gray-100">
        <canvas *ngIf="category.includes('income')"
                baseChart
                [datasets]="incomeChart"
                [labels]="incomeChartLabels"
                [options]="chartOptions"
                [type]="'line'"
        ></canvas>
        <canvas *ngIf="category.includes('volume')"
                baseChart
                [datasets]="volumeChartDataset"
                [labels]="volumeChartLabels"
                [options]="chartOptions"
                [type]="'line'"
        ></canvas>
        <div class="flex flex-row space-x-4 p-2">
          <button (click)="changeCategory('income')" [ngClass]="{'ring-2': category.includes('income')}"
                  class="px-6 py-2 rounded-full ring-offset-2 ring-blue-600 text-gray-100 bg-blue-600 hover:bg-blue-700 active:ring-2">
            Приток
          </button>
          <button (click)="changeCategory('volume')" [ngClass]="{'ring-2': category.includes('volume')}"
                  class="px-6 py-2 rounded-full ring-offset-2 ring-blue-600 text-gray-100 bg-blue-600 hover:bg-blue-700 active:ring-2">
            Объем
          </button>
        </div>
      </div>
      <div class="overflow-x-auto overflow-y-auto max-h-96">
        <table>
          <thead class="sticky top-0">
          <tr>
            <th rowspan="2">Года</th>
            <th colspan="12">Месяца, млн. м3</th>
            <th rowspan="2">Средний приток, м3/с</th>
            <th rowspan="2">Годовой приток, млн. м3</th>
            <th rowspan="2">В отношении среднего показателя, %</th>
          </tr>
          <tr>
            <th>Янв.</th>
            <th>Фев.</th>
            <th>Март</th>
            <th>Апр.</th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
            <th>Авг.</th>
            <th>Сент.</th>
            <th>Окт.</th>
            <th>Ноя.</th>
            <th>Дек.</th>
          </tr>
          </thead>
          <tbody *ngIf="avg">
          <tr *ngIf="startYear && endYear && avg.display" (click)="changeVisibility(avg.id)"
              [ngClass]="{'text-blue-600': avg.display}" class="text-blue-600">
            <td *ngIf="startYear && endYear">Среднее за года {{ startYear.getFullYear() }}
              - {{ endYear.getFullYear() }}
            </td>
            <td *ngFor="let val of avg.byMonth">{{ val | number: '.0-0' }}</td>
            <td>{{ (avg.value / mSecondsInDay / 360) | number: '.0-0' }}</td>
            <td>{{ (avg.value) | number: '.0-0' }}</td>
            <td>100</td>
          </tr>
          <tr *ngIf="max && max.display" (click)="changeVisibility(max.id)"
              [ngClass]="{'text-green-600': max.display}" class="text-green-600">
            <td>Максимальное значение {{ max.year }}</td>
            <td *ngFor="let val of max.byMonth">{{ val | number: '.0-0' }}</td>
            <td>{{ (max.value / mSecondsInDay / 360) | number: '.0-0' }}</td>
            <td>{{ (max.value) | number: '.0-0' }}</td>
            <td>{{ (max.value * 100 / avg.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngIf="min && min.display" (click)="changeVisibility(min.id)"
              [ngClass]="{'text-rose-600': min.display}" class="text-rose-600">
            <td>Минимальное значение {{ min.year }}</td>
            <td *ngFor="let val of min.byMonth">{{ val | number: '.0-0' }}</td>
            <td>{{ (min.value / mSecondsInDay / 360) | number: '.0-0' }}</td>
            <td>{{ (min.value) | number: '.0-0' }}</td>
            <td>{{ (min.value * 100 / avg.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngIf="past && past.display" (click)="changeVisibility(past.id)"
              [ngClass]="{'text-amber-600': past.display}" class="text-amber-600">
            <td>Значение за прошлый {{ past.year }}</td>
            <td *ngFor="let val of past.byMonth">{{ val | number: '.0-0' }}</td>
            <td>{{ (past.value / mSecondsInDay / 360) | number: '.0-0' }}</td>
            <td>{{ (past.value) | number: '.0-0' }}</td>
            <td>{{ (past.value * 100 / avg.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngIf="current && current.display" (click)="changeVisibility(current.id)"
              [ngClass]="{'text-purple-600': current.display}" class="text-purple-600">
            <td>Значение за текущий {{ current.year }}</td>
            <td *ngFor="let val of current.byMonth">{{ val | number: '.0-0' }}</td>
            <td *ngFor="let _ of incomeChartLabels.slice(current.byMonth.length)"></td>
            <td>{{ (current.value / mSecondsInDay / 360) | number: '.0-0' }}</td>
            <td>{{ (current.value) | number: '.0-0' }}</td>
            <td>{{ (current.value * 100 / avg.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngFor="let item of selected" (click)="changeVisibility(item.id)" [ngStyle]="{'color': item.color}">
            <td>Значение за {{ item.year }}</td>
            <td *ngFor="let val of item.byMonth">{{ val | number: '.0-0' }}</td>
            <td>{{ (item.value / mSecondsInDay / 360) | number: '.0-0' }}</td>
            <td>{{ (item.value) | number: '.0-0' }}</td>
            <td>{{ (item.value * 100 / avg.value) | number: '.0-0' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="flex flex-col gap-2.5 col-span-2 max-2xl:col-span-3 mb-40 h-[830px]">
      <div class="col-span-2 max-2xl:col-span-3 overflow-y-auto flex-1 h-fit"
           [ngStyle]="{'max-height.px': tableHeight}">
        <table>
          <thead class="sticky top-0">
          <tr>
            <th>Год</th>
            <th>Приток воды, млн. м3</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of years" (click)="yearSelect(item.year)">
            <td
              [ngStyle]="{'color': getColor(item)}"
              [ngClass]="{
            'min': min?.year == item.year,
            'max': max?.year == item.year,
            'past': past?.year == item.year,
            }">{{ item.year }}
            </td>
            <td
              [ngStyle]="{'color': getColor(item)}"
              [ngClass]="{
            'min': min?.year == item.year,
            'max': max?.year == item.year,
            'past': past?.year == item.year
            }">{{ item.value |number: '.0-0' }}
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="col-span-2 max-2xl:col-span-3 overflow-y-auto flex-1 mb-14 h-fit"
           [ngStyle]="{'max-height.px': tableHeight}">
        <table>
          <thead class="sticky top-0">
          <tr>

            <th>Год</th>
            <th>Годовой приток, млн. м3</th>
          </tr>
          </thead>
          <tbody *ngIf="avg">
          <tr *ngIf="startYear && endYear" (click)="changeVisibility(avg.id) "

              [ngClass]="{'text-blue-600': avg.display,'text-blue-600/60': !avg.display}" class="text-blue-600">
            <td *ngIf="startYear && endYear">{{ startYear.getFullYear() }}
              - {{ endYear.getFullYear() }}
            </td>
            <td>{{ (avg.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngIf="max" (click)="changeVisibility(max.id)"
              [ngClass]="{'text-green-600': max.display,  'text-green-600/60': !max.display}" class="text-green-600">

            <td>{{ max.year }}</td>
            <td>{{ (max.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngIf="min" (click)="changeVisibility(min.id)"
              [ngClass]="{'text-rose-600': min.display, 'text-rose-600/60': !min.display}" class="text-rose-600">
            <td>{{ min.year }}</td>
            <td>{{ (min.value) | number: '.0-0' }}</td>
          </tr>
          <tr *ngIf="past" (click)="changeVisibility(past.id)"
              [ngClass]="{'text-amber-600': past.display, 'text-amber-600/60': !past.display}" class="text-amber-600">
            <td> {{ past.year }}</td>
            <td>{{ (past.value) | number: '.0-0' }}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
