<div class="flex flex-col pt-10 px-12 flex-1 space-y-4">
  <app-card-header [title]="'Suv o\'lchash qurilmalar'"></app-card-header>
  <table>
    <thead>
    <tr>
      <th rowspan="2">Suv omborlar</th>
      <th rowspan="2">Suv o'lchovlarning soni</th>
      <th colspan="3">Suv o'lchovlarning turlari</th>
      <th colspan="2">Holati</th>
      <th colspan="2">Kalibrlash va taqqoslash hujjatlari</th>
      <th rowspan="2">Kalibrlash va taqqoslash sanasi</th>
    </tr>
    <tr>
      <th>GRVS</th>
      <th>GR-21m</th>
      <th>MGG-KL-DCB</th>
      <th>Qoniqarli</th>
      <th>Qoniqarsiz</th>
      <th>Mavjud</th>
      <th>Mavjud emas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Andijon</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>Ohangaron</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>24 iyul 2019</td>
    </tr>
    <tr>
      <td>Sardoba</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>15 may 2021</td>
    </tr>
    <tr>
      <td>Hisorak</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>15 may 2021</td>
    </tr>
    <tr>
      <td>Topalang</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>5 aprel 2017</td>
    </tr>
    <tr>
      <td>Jami</td>
      <td>10</td>
      <td>1</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
