<div class="w-full px-4 mt-6">
  <table>
    <thead>
    <tr>
      <th rowspan="2">Водохранилиище</th>
      <th rowspan="2">Количество водоизмерителей</th>
      <th colspan="3">Тип водоизмерителя</th>
      <th colspan="2">Состояние</th>
      <th colspan="2">Тарировка и сравнительные документы</th>
      <th rowspan="2">Дата тарировки и сравнения</th>
    </tr>
    <tr>
      <th>ГРВЦ</th>
      <th>ГР-21м</th>
      <th>MGG-KL-DCB</th>
      <th>Уд.</th>
      <th>Неуд.</th>
      <th>Имеется</th>
      <th>Не имеется</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Андижан</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>Ахангаран</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>24 июль 2019</td>
    </tr>
    <tr>
      <td>Сардоба</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>15 май 2021</td>
    </tr>
    <tr>
      <td>Гисарак</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>15 май 2021</td>
    </tr>
    <tr>
      <td>Тупаланг</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>5 апр 2017</td>
    </tr>
    <tr>
      <td>Общее</td>
      <td>10</td>
      <td>1</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
