<!--<app-metric-select (categoryEmitter)="changeCategory($event)"></app-metric-select>-->

<div *ngIf="reservoirName && tableData && totalValues.length !== 0; else loader" class="flex flex-col flex-1 space-y-4">
  <!--  <h3 class="text-center text-3xl">{{reservoirName}}</h3>-->
  <app-card-header [title]="'O\'n kunlik ma\'lumotlar'"></app-card-header>
  <table>
    <thead>
    <tr>
      <th rowspan="2">Ma'lumot turi</th>
      <th [colSpan]="daysInDecade.length">{{ today | date:'MMMM' | uzbMonthPipe }}</th>
      <th rowspan="2">O'rtacha</th>
    </tr>
    <tr>
      <th *ngFor="let day of daysInDecade">{{day}}</th>
    </tr>
    </thead>
    <tbody *ngIf="tableData">
    <tr *ngIf="tableData.income">
      <td>Kelishi, m³/s</td>
      <td *ngFor="let value of tableData.income.data; index as i">{{value.value | number:'0.0-0'}}</td>
      <td *ngFor="let day of daysInDecade.slice(tableData.income.data.length)"></td>
      <td>{{avgIncome}}</td>
    </tr>
    <tr *ngIf="tableData.release">
      <td>Chiqish, m³/s</td>
      <td *ngFor="let value of tableData.release.data">{{value.value | number:'0.0-0'}}</td>
      <!--suppress JSUnusedGlobalSymbols, JSUnusedGlobalSymbols -->
      <td *ngFor="let day of daysInDecade.slice(tableData.release.data.length)"></td>
      <td>{{avgRelease}}</td>
    </tr>
    <tr *ngIf="tableData.level">
      <td>Suv sathi, m</td>
      <td *ngFor="let value of tableData.level.data">{{value.value}}</td>
      <td *ngFor="let day of daysInDecade.slice(tableData.level.data.length)"></td>
      <td></td>
    </tr>
    <tr *ngIf="tableData.volume">
      <td>Suv hajmi, mln.m³</td>
      <td *ngFor="let value of tableData.volume.data">{{value.value}}</td>
      <td *ngFor="let day of daysInDecade.slice(tableData.volume.data.length)"></td>
      <td></td>
    </tr>

    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th rowspan="2">Suv omborlar</th>
      <th colspan="4">O'rtacha suv kelishi, mln.m³</th>
      <th colspan="3">Foizdagi farq</th>
    </tr>
    <tr>
      <th><p>30 yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>
      <th><p>10 yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>
      <th><p>{{ pastYear }} yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>
      <th><p>{{ currentYear }} yil<br><small>{{ decade | date: 'dd.MM' }}</small></p></th>
      <th>30 yil</th>
      <th>10 yil</th>
      <th>{{ pastYear }} yil</th>
    </tr>
    </thead>
    <tbody *ngFor="let res of totalValues">
    <tr>
      <td>{{res.reservoir}}</td>
      <td>{{res.avg30}}<br><p class="text-red-600 text-xs">{{ res.decadeAvg30 }}</p></td>
      <td>{{res.avg10}}<br><p class="text-red-600 text-xs">{{ res.decadeAvg10 }}</p></td>
      <td>{{res.lastYear}}<br><p class="text-red-600 text-xs">{{ res.decadeLastYear }}</p></td>
      <td>{{res.currentYear}}<br><p class="text-red-600 text-xs">{{ res.decadeCurrentYear }}</p></td>
      <td>{{ res.avg30 !== 0 ? ((res.currentYear / res.avg30) * 100 | number: '.0-2') : '0' }}<br><p class="text-red-600 text-xs">{{ res.decadeAvg30 !== 0 ? ((res.decadeCurrentYear / res.decadeAvg30) * 100 | number: '.0-2') : '0' }}</p></td>
      <td>{{ res.avg10 !== 0 ? ((res.currentYear / res.avg10) * 100 | number: '.0-2') : '0' }}<br><p class="text-red-600 text-xs">{{ res.decadeAvg10 !== 0 ? ((res.decadeCurrentYear / res.decadeAvg10) * 100 | number: '.0-2') : '0' }}</p></td>
      <td>{{ (res.currentYear / res.lastYear) * 100 | number: '.0-2' }}<br><p class="text-red-600 text-xs">{{ (res.decadeCurrentYear / res.decadeLastYear) * 100 | number: '.0-2' }}</p></td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loader>
  <app-loader size="xl"></app-loader>
</ng-template>
