<div class="flex flex-col h-screen">
  <video autoplay muted loop class="fixed object-cover h-full w-full -z-10 blur-md">
    <source src="/assets/video/bg.webm" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="fixed top-0 left-0">
    <app-navbar (sidebarEmitter)="toggleSidebar()"></app-navbar>
  </div>
  <p-sidebar
    class="bg-slate-900 text-white border-r border-r-dark-gray"
    styleClass="bg-slate-900 text-white border-r border-r-dark-gray"
    [(visible)]="isSidebarVisible">
    <ng-template pTemplate="headless">
      <nav>
        <ul class="font-medium text-lg mt-4 px-4">
          <li class="mb-4" *ngFor="let item of menuItems">
            <a class="items-center flex flex-row justify-between pl-2 border-l border-l-white"
               [routerLink]="item.children ? null : item.path"
               [queryParamsHandling]="item.path.includes('dashboard') ? null : 'preserve'"
               [ngClass]="{'active': currentUrl.includes(item.path)}"
               (click)="selectItem(item)">
              {{ item.name }}
              <i *ngIf="item.children" class="pi"
                 [ngClass]="item.isOpen ? 'pi-angle-up' : 'pi-angle-down'"></i>
            </a>
            <ul *ngIf="item.children && item.isOpen" class="mt-3" [@DropDownMenu]>
              <li class="pl-4 mb-4" *ngFor="let childItem of item.children">
                <a class="pl-2 border-l border-l-white"
                   [routerLink]="childItem.path == '' ? null : (item.path || '') + (childItem.path || '')"
                   [href]="childItem.externalLink"
                   [queryParams]="item.path.includes('water') && !selectedReservoir ? {reservoir: 1} : {}"
                   routerLinkActive="active"
                   [queryParamsHandling]="'merge'"
                   (click)="selectItem(childItem)">
                  {{ childItem.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </ng-template>
  </p-sidebar>
  <div class="mt-14 flex-1 overflow-hidden">
    <router-outlet></router-outlet>
  </div>
</div>
