<div class="w-full px-4 mt-6 flex flex-col space-y-4">
  <h3 class="text-center text-3xl">{{reservoirName}}</h3>

  <table>
    <thead>
    <tr>
      <th rowspan="2">Тип</th>
      <th rowspan="2">Год</th>
      <th *ngFor="let month of months" colspan="3">{{month}}</th>
    </tr>
    <tr>
      <th *ngFor="let decade of decade">{{decade}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let table of tableData">
    <tr>
      <td [rowSpan]="table.data.length" class="text-lg">{{table.category}}</td>
      <td class="text-lg">{{table.data[0][0].date.slice(0,4)}}</td>
      <td *ngFor="let i of table.data[0]">{{i.value}}</td>
    </tr>
    <tr *ngFor="let cat of table.data.slice(1)">
      <td class="text-lg">{{cat[0].date.slice(0,4)}}</td>
      <td *ngFor="let val of cat">{{val.value}}</td>
    </tr>
    </tbody>
  </table>
</div>
