<!--Container-->
<div class="p-10 flex space-x-5">
  <div class="block space-y-4">
<!--Power-->
    <div class="flex space-x-5">
      <div class="p-6 max-w-sm bg-white rounded-xl shadow-lg flex items-center">
        <div>
          <div class="text-xl font-medium text-black">Средняя мощность</div>
          <p class="text-slate-500">2.225 МВт</p>
        </div>
      </div>
      <div class="p-6 max-w-sm bg-white rounded-xl shadow-lg flex items-center">
        <div>
          <div class="text-xl font-medium text-black">Минимальная мощность</div>
          <p class="text-slate-500">2 МВт</p>
        </div>
      </div>

      <div class="p-6 max-w-sm bg-white rounded-xl shadow-lg flex items-center">
        <div>
          <div class="text-xl font-medium text-black">Максимальная мощность</div>
          <p class="text-slate-500">2.5 МВт</p>
        </div>
      </div>
    </div>
<!--/Power-->
<!--Reservoir-->
    <div class="w-full bg-white rounded-xl shadow-lg flex-col items-center space-y-2">
      <div class="tab">
        <button class="tablinks active rounded-tl-xl" (click)="tabclick($event, 'Андижан')">Андижан</button>
        <button class="tablinks" (click)="tabclick($event, 'Охангаран')">Охангаран</button>
        <button class="tablinks" (click)="tabclick($event, 'Сардоба')">Сардоба</button>
        <button class="tablinks" (click)="tabclick($event, 'Тополанг')">Тополанг</button>
        <button class="tablinks" (click)="tabclick($event, 'Хисорак')">Хисорак</button>
        <button class="tablinks rounded-tr-xl" (click)="tabclick($event, 'Чарвак')">Чарвак</button>
      </div>
      <div class="chart-container mx-auto">
        <canvas id="ReportChart">{{waterChart}}</canvas>
        <canvas id="FilterChart">{{filterChart}}</canvas>
        <canvas id="VolumeChart">{{volumeChart}}</canvas>
      </div>
    </div>
<!--/Reservoir-->

  </div>
  <div class="block space-y-4">
<!--GES-->
    <div class="p-6 w-80 bg-white rounded-xl shadow-lg flex-col items-center space-y-2">
      <h3 class="text-center font-medium text-black text-xl border-b border-gray-300">ГЭС</h3>
      <ul class="space-y-2">
        <li class="flex justify-between"><p>Самый мощный №1</p> <p>165 МВт</p></li>
        <li class="flex justify-between"><p>Самый мощный №2</p> <p>140 МВт</p></li>
        <li class="flex justify-between"><p>Самый мощный №3</p> <p>120 МВт</p></li>
        <li class="flex justify-between"><p>Мощный №1</p> <p>100 МВт</p></li>
        <li class="flex justify-between"><p>Мощный №2</p> <p>83 МВт</p></li>
        <li class="flex justify-between"><p>Мощный №3</p> <p>65 МВт</p></li>
      </ul>
    </div>
<!--/GES-->
    <!--GES-->
    <div class="p-6 w-80 bg-white rounded-xl shadow-lg flex-col items-center space-y-2">
      <h3 class="text-center font-medium text-black text-xl border-b border-gray-300">ГЭС</h3>
      <ul class="space-y-2">
        <li class="flex justify-between"><p>Самый мощный №1</p> <p>165 МВт</p></li>
        <li class="flex justify-between"><p>Самый мощный №2</p> <p>140 МВт</p></li>
        <li class="flex justify-between"><p>Самый мощный №3</p> <p>120 МВт</p></li>
        <li class="flex justify-between"><p>Мощный №1</p> <p>100 МВт</p></li>
        <li class="flex justify-between"><p>Мощный №2</p> <p>83 МВт</p></li>
        <li class="flex justify-between"><p>Мощный №3</p> <p>65 МВт</p></li>
      </ul>
    </div>
    <!--/GES-->
  </div>
</div>
<!--/Container-->
