<div *ngIf="reservoir; else loader" class="w-full flex flex-col px-4 pt-6 space-y-4 justify-center">
  <h3 class="text-center text-3xl">{{reservoir}}</h3>

  <table>
    <thead>
    <tr>
      <th rowspan="2">Месяц</th>
      <th rowspan="2">Измерение</th>
      <th colspan="35">Дни</th>
    </tr>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>Среднее</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>Среднее</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>24</th>
      <th>25</th>
      <th>26</th>
      <th>27</th>
      <th>28</th>
      <th>29</th>
      <th>30</th>
      <th>31</th>
      <th>Среднее</th>
      <th>Ср (месяц)</th>
    </tr>
    </thead>
<!--    <tbody *ngFor="let data of data">-->
<!--    <tr>-->
<!--      <td rowspan="4">{{data.date | date: 'MMMM' | rusMonth}}</td>-->
<!--      <td>Уровень</td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.firstDecadeLimit">{{reservoir.waterLevel[i]}}</p></td>-->
<!--      <td></td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.secondDecadeLimit">{{reservoir.waterLevel[i]}}</p></td>-->
<!--      <td></td>-->
<!--      <td *ngFor="let value of data.elevenDays; index as i"><p *ngIf="i < data.thirdDecadeLimit">{{reservoir.waterLevel[i]}}</p></td>-->
<!--      <td></td>-->
<!--      <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Объём</td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.firstDecadeLimit">{{reservoir.waterVolume[i]}}</p></td>-->
<!--      <td></td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.secondDecadeLimit">{{reservoir.waterVolume[i]}}</p></td>-->
<!--      <td></td>-->
<!--      <td *ngFor="let value of data.elevenDays; index as i"><p *ngIf="i < data.thirdDecadeLimit">{{reservoir.waterVolume[i]}}</p></td>-->
<!--      <td></td>-->
<!--      <td></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Приток</td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.firstDecadeLimit">{{reservoir.waterIncome[i]}}</p></td>-->
<!--      <td>{{getAvg(reservoir.waterIncome, data.firstDecadeLimit) | number: '.0-0'}}</td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.secondDecadeLimit">{{reservoir.waterIncome[i]}}</p></td>-->
<!--      <td>{{getAvg(reservoir.waterIncome, data.secondDecadeLimit) | number: '.0-0'}}</td>-->
<!--      <td *ngFor="let value of data.elevenDays; index as i"><p *ngIf="i < data.thirdDecadeLimit">{{reservoir.waterIncome[i]}}</p></td>-->
<!--      <td>{{getAvg(reservoir.waterIncome, data.thirdDecadeLimit) | number: '.0-0'}}</td>-->
<!--      <td>{{getAvg(reservoir.waterIncome, data.thirdDecadeLimit) | number: '.0-0'}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Попуск</td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.firstDecadeLimit">{{reservoir.waterRelease[i]}}</p></td>-->
<!--      <td>{{getAvg(reservoir.waterRelease, data.firstDecadeLimit) | number: '.0-0'}}</td>-->
<!--      <td *ngFor="let value of data.tenDays; index as i"><p *ngIf="i < data.secondDecadeLimit">{{reservoir.waterRelease[i]}}</p></td>-->
<!--      <td>{{getAvg(reservoir.waterRelease, data.secondDecadeLimit) | number: '.0-0'}}</td>-->
<!--      <td *ngFor="let value of data.elevenDays; index as i"><p *ngIf="i < data.thirdDecadeLimit">{{reservoir.waterRelease[i]}}</p></td>-->
<!--      <td>{{getAvg(reservoir.waterRelease, data.thirdDecadeLimit) | number: '.0-0'}}</td>-->
<!--      <td>{{getAvg(reservoir.waterRelease, data.thirdDecadeLimit) | number: '.0-0'}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
  </table>
</div>


<ng-template #loader>
  <app-loader size="xl"></app-loader>
</ng-template>
