<div class="flex">
  <div class="w-full px-4">
    <table>
      <tr>
        <th>№</th>
        <td *ngFor="let ges of gesList; index as i">{{i + 1}}</td>
      </tr>
      <tr>
        <th>
          <div class="flex-row flex items-center justify-center">ГЭС
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <td *ngFor="let ges of gesList">
          <a [routerLink]="'/ges'" [queryParams]="{name: ges.name | lowercase}">
            <div class="flex-row flex items-center justify-center">{{ges.name}}
              <object class="w-4 h-4" data="assets/icons/touch.svg"></object>
            </div>
          </a>
        </td>
      </tr>
      <tr>
        <th>
          <div class="flex-row flex items-center justify-center">Установленная мощность, МВт
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <td *ngFor="let ges of gesList">{{ges.activePower}}</td>
      </tr>
      <tr>
        <th>Агрегаты</th>
        <td *ngFor="let ges of gesList">
          <app-aggregate-table-field [aggregates]="10"></app-aggregate-table-field>
        </td>
      </tr>
      <tr>
        <th>Статический напор, м</th>
        <td *ngFor="let ges of gesList">112</td>
      </tr>
      <tr>
        <th>Приток, м3/с</th>
        <td *ngFor="let ges of gesList">130</td>
      </tr>
      <tr>
        <th>Расход через ГЭС, м3/с</th>
        <td *ngFor="let ges of gesList">130</td>
      </tr>
      <tr>
        <th>Расход через турбину, м3/с</th>
        <td *ngFor="let ges of gesList">{{ges.waterRelease}}</td>
      </tr>
      <tr>
        <th>Холостой сброс, м3/с</th>
        <td *ngFor="let ges of gesList">{{ges.idleDischarge}}</td>
      </tr>
      <tr>
        <th>
          <div class="flex-row flex items-center justify-center">P, МВт
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <td *ngFor="let ges of gesList">
          <div class="flex flex-row justify-evenly items-center">
            <div>
              {{ges.activePowerAtMoment | number:'1.0-2'}}
            </div>
            <div *ngIf="ges.difference > 0; else notStonks" class="flex-row flex">
              <object class="w-6 h-6" data="../../../../assets/icons/trendUp.svg"></object>
              {{ges.difference | number:'1.0-2'}}
            </div>
          </div>
          <ng-template #notStonks>
            <div class="flex-row flex">
              <object class="w-6 h-6" data="../../../../assets/icons/trendDown.svg"></object>
              {{ges.difference | number:'1.0-2'}}
            </div>
          </ng-template>
        </td>
      </tr>
      <tr>
        <th>
          <div class="flex-row flex items-center justify-center">Q, МВАр
            <object class="w-4 h-4 hidden" data="../../../../assets/icons/arrows.svg"></object>
          </div>
        </th>
        <td *ngFor="let ges of gesList" class="px-4 py-2 border-b border-gray-500 text-center">{{ges.reactivePower | number:'1.0-2'}}</td>
      </tr>
    </table>
  </div>
</div>
