<div class="w-full px-4 mt-6">
  <table>
    <thead>
    <tr>
      <th>Водохранилиище</th>
      <th>Дата измерения</th>
      <th>Название гидропоста</th>
      <th>Тип гидропоста</th>
      <th>Тип водоизмеитля</th>
      <th>Результаты водоизмерения, м3/с</th>
      <th>Поправки водопотребления</th>
      <th>Провел работы, ФИО</th>
      <th>Комментарий</th>
    </tr>

    </thead>
    <tbody>
    <tr>
      <td>Андижан</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ахангаран</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Сардоба</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Гисарак</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Тупаланг</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Чарвак</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Общее</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
