<div class="flex flex-col pt-10 px-12 flex-1 space-y-4">
  <app-card-header [title]="'Suv o\'lchash ishlar'"></app-card-header>
  <table>
    <thead>
    <tr>
      <th>Suv omborlar</th>
      <th>O'lchov sanasi</th>
      <th>Gidropostlarning nomlari</th>
      <th>Gidropostlarning turlari</th>
      <th>Suv o'lchovlarning turlari</th>
      <th>Suvni o'lchash natijalari, m³/s</th>
      <th>Suv iste'moliga o'zgartirishlar</th>
      <th>Ishni bajargan, FISh</th>
      <th>Izoh</th>
    </tr>

    </thead>
    <tbody>
    <tr>
      <td>Andijon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ohangaron</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Sardoba</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Hisorak</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Topalang</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Chorbog'</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Jami</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
