:host {
  display: flex;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

:host ::ng-deep .p-carousel,
:host ::ng-deep .p-carousel-content,
:host ::ng-deep .p-carousel-container,
:host ::ng-deep .p-carousel-items-container {
  height: 100%;
}
