<div *ngIf="reservoir; else loader" class="flex flex-col pb-16 px-14 h-full space-y-4">
  <app-card-header [title]="reservoir.name"></app-card-header>
  <div class="h-full grid grid-rows-12 grid-cols-12 gap-8 grid-flow-col">
    <!--  Current data  -->
    <app-card-wrapper class="col-span-3 row-span-3">
      <div slot="body" *ngIf="income && release && level && volume" class="grid grid-cols-2 gap-4 h-full">
        <app-data-card title="Kelishi, m³/s" [data]="income" numberFormat="0.0-0"></app-data-card>
        <app-data-card title="Chiqishi, m³/s" [data]="release" numberFormat="0.0-0"></app-data-card>
        <app-data-card title="Sath, m" [data]="level" numberFormat="0.0-2"></app-data-card>
        <app-data-card title="Hajm, mln.m³" [data]="volume" numberFormat="0.0-1"></app-data-card>
      </div>
    </app-card-wrapper>
    <!--  /Current data  -->
    <!--  Weather  -->
    <app-weather-detailed class="col-span-3 row-span-5" *ngIf="reservoir" [reservoir]="reservoir"
                          [displayTitle]="false"></app-weather-detailed>
    <!--  /Weather  -->
    <!--  Snow cover  -->
    <ng-container *ngIf="snowImages$ | async as snowUrls">
      <app-card-wrapper *ngIf="snowUrls.length > 0" class="col-span-2 row-span-4">
        <img slot="body" [ngSrc]="snowUrls[0].url" alt="Snow Cover Image" class="h-full w-full object-contain" fill>
      </app-card-wrapper>
      <!--  /Snow cover  -->
      <!--  Snow dynamics  -->
      <app-card-wrapper *ngIf="snowUrls.length > 1" class="col-span-5 row-span-4">
        <img slot="body" [ngSrc]="snowUrls[1].url" alt="Snow Dynamics Image" class="h-full w-full object-contain" fill>
      </app-card-wrapper>
    </ng-container>
    <!--  /Snow dynamics  -->
    <!--  Analytics  -->
    <app-reservoir-analytics class="col-span-9 row-span-8"></app-reservoir-analytics>
    <!--  /Analytics  -->
    <!--  Snow chart  -->
    <app-card-wrapper class="col-span-5 row-span-4">
      <app-dashboard-snow-review slot="body" [reservoirId]="selectedReservoir"
                                 class="h-full w-full"></app-dashboard-snow-review>
    </app-card-wrapper>
    <!--  /Snow chart  -->
  </div>
</div>

<ng-template #loader>
  <app-loader [size]="'lg'"></app-loader>
</ng-template>
