<div class="py-3 flex mx-auto w-screen max-w-7xl">
<div class="w-full bg-white rounded-xl shadow-lg flex-col items-center space-y-2">
  <h2 class="text-xl font-medium text-center p-3">Данные пьезометров по станциям Охангаран</h2>
  <div class="tab">
    <button class="tablinks active" (click)="tabclick($event, '1')">СТ 1</button>
    <button class="tablinks" (click)="tabclick($event, '2')">СТ 2</button>
    <button class="tablinks" (click)="tabclick($event, '3')">СТ 3</button>
    <button class="tablinks" (click)="tabclick($event, '4')">СТ 4</button>
    <button class="tablinks" (click)="tabclick($event, '5')">СТ 5</button>
    <button class="tablinks" (click)="tabclick($event, '6')">СТ 6</button>
    <button class="tablinks" (click)="tabclick($event, '7')">СТ 7</button>
    <button class="tablinks" (click)="tabclick($event, '8')">СТ 8</button>
    <button class="tablinks" (click)="tabclick($event, '9')">СТ 9</button>
    <button class="tablinks" (click)="tabclick($event, '10')">СТ 10</button>
    <button class="tablinks" (click)="tabclick($event, '11')">СТ 11</button>
    <button class="tablinks" (click)="tabclick($event, '12')">СТ 12</button>
  </div>
  <div class="chart-container">
    <canvas id="PiezoChart">{{piezoChart}}</canvas>
  </div>
</div>
</div>
