<div class="flex">
  <div class="w-screen px-4">
    <table *ngIf="currentTime; else loader" class=" relative table-auto w-full text-left border-collapse text-sm">
      <thead class="text-gray-500">
      <tr #thead>
        <th class="bg-gray-300 sticky top-14 p-4 rounded-tl-3xl">№</th>
        <th class="bg-gray-300 sticky top-14 p-4 cursor-pointer" (click)="sortByName($event, thead); changeArrow(gesIcon)"><div class="flex-row flex items-center">ГЭС <object #gesIcon class="w-4 h-4" data="../../assets/icons/arrows.svg"></object></div></th>
        <th class="bg-gray-300 sticky top-14 p-4 cursor-pointer" (click)="sortByActivePower($event, thead); changeArrow(activeIcon)"><div class="flex-row flex items-center">Установленная мощность, МВт <object #activeIcon class="w-4 h-4" data="../../assets/icons/arrows.svg"></object></div></th>
        <th class="bg-gray-300 sticky top-14 p-4">Агрегаты</th>
        <th class="bg-gray-300 sticky top-14 p-4">Статический напор, м</th>
        <th class="bg-gray-300 sticky top-14 p-4">Приток, м3/с</th>
        <th class="bg-gray-300 sticky top-14 p-4">Расход через ГЭС, м3/с</th>
        <th class="bg-gray-300 sticky top-14 p-4">Расход через турбину, м3/с</th>
        <th class="bg-gray-300 sticky top-14 p-4 rounded-tr-3xl">Холостой сброс, м3/с</th>
        <th class="bg-gray-300 sticky top-14 p-4 cursor-pointer" (click)="sortByActivePower($event, thead); changeArrow(activeAtMomentIcon)"><div class="flex-row flex items-center">P, МВт<object #activeAtMomentIcon class="w-4 h-4" data="../../assets/icons/arrows.svg"></object> </div></th>
        <th class="bg-gray-300 sticky top-14 p-4 cursor-pointer" (click)="sortByActivePower($event, thead); changeArrow(reactiveIcon)"><div class="flex-row flex items-center">Q, МВАр<object #reactiveIcon class="w-4 h-4" data="../../assets/icons/arrows.svg"></object> </div></th>
      </tr>
      </thead>
      <tbody *ngFor="let ges of _gesService.gesValues; index as i">
      <tr class=" border-b text-lg">
        <td class="px-4 py-2 border-b border-gray-500">{{i}}</td>
        <td class="px-4 py-2 border-b border-gray-500">{{ges.name}}</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">{{ges.activePower}}</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">
          <app-aggregate [aggregates]="10"></app-aggregate>
        </td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">112</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">130</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">130</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">{{ges.waterRelease}}</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">{{ges.idleDischarge}}</td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">
          <div class="flex flex-row justify-evenly items-center">
            <div>
              {{ges.activePowerAtMoment | number:'1.0-2'}}
            </div>
            <div *ngIf="ges.difference > 0; else notStonks" class="flex-row flex">
              <object class="w-6 h-6" data="../../assets/icons/trendUp.svg"></object>
              {{ges.difference | number:'1.0-2'}}
            </div>
            <ng-template #notStonks>
              <div class="flex-row flex">
                <object class="w-6 h-6" data="../../assets/icons/trendDown.svg"></object>
                {{ges.difference | number:'1.0-2'}}
              </div>
            </ng-template>

          </div>
        </td>
        <td class="px-4 py-2 border-b border-gray-500 text-center">{{ges.reactivePower | number:'1.0-2'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loader>
  <div class="flex -mt-14 justify-center items-center h-screen w-full">
    <app-loader></app-loader>
  </div>
</ng-template>
